@CHARSET "utf-8";
/* CORNERSTONE MARKETING STANDARDS
*	CU NAVY: #162b48
*	CU GOLD: #cc9933
*
*	CU ACCENTS:	#e8dcba (dark tan)
*				#f2ecdc (eggshell)
*
*	TUG BLUE PRIMARY:	#8cc7ed
*	TUG BLUE ACCENT:	#dfedf9
*
*	OL SAGE:	#6b9f93
*	OL ACCENT:	#b6ccc7
*
*	GRTS CERULEAN:	#005a8c
*	GRTS ACCENT:	#95b6c4
*
*	PGS SLATE:	#6d6e71
*	PGS ACCENT:	#d1d3d4
*
*
*	"WHAT MATTERS" campaign font: BRANDON GROTESQUE
*	Acceptable alternative fonts:
*		PALATINO
*		ARIAL BLACK (headlines)
*		ARIAL NARROW ITALIC (subheadlines)
*		ARIAL BOLD (highlighted paragraphs)
*		ARIAL REGULAR (body copy)
*/
/* STANDARD and BOOTSTRAP HTML CSS */
@font-face { 
	font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    src: url([[font:theme|glyphicons-halflings-regular.eot]]); /* IE9 compatibility */
    src: url([[font:theme|glyphicons-halflings-regular.eot]]) format('embedded-opentype'), /* IE6-IE8 */
    	 url([[font:theme|glyphicons-halflings-regular.woff2]]) format('woff2'), /* Super-modern browsers */
         url([[font:theme|glyphicons-halflings-regular.woff]]) format('woff'),  /* Modern browsers */
         url([[font:theme|glyphicons-halflings-regular.ttf]]) format('truetype'), /* Safari, Android and iOS */
         url([[font:theme|glyphicons-halflings-regular.svg]]) format('svg'); /* Legacy iOS */
}
@font-face { 
	font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url([[font:theme|fontawesome-webfont.eot]]); /* IE9 compatibility */
    src: url([[font:theme|fontawesome-webfont.eot]]) format('embedded-opentype'), /* IE6-IE8 */
    	 url([[font:theme|fontawesome-webfont.woff2]]) format('woff2'), /* Super-modern browsers */
         url([[font:theme|fontawesome-webfont.woff]]) format('woff'),  /* Modern browsers */
         url([[font:theme|fontawesome-webfont.ttf]]) format('truetype'), /* Safari, Android and iOS */
         url([[font:theme|fontawesome-webfont.svg]]) format('svg'); /* Legacy iOS */
}
html { height: 100%; }
body { display: flex; flex-direction: column; min-height: 100vh; padding-top: 100px; }
body main#page-content { margin: 0px 0px; padding-bottom: 30px; }
body.content-only main#page-content { width: 100%; }
body.moodledev-cornerstone-edu #cu-sitenav, body.moodledev-cornerstone-edu footer { background-color: #000; }
body.pagelayout-frontpage.notloggedin>header { display: none; }
body.pagelayout-maintenance main#page-content { margin: 0px 12px; }
header { padding-left: 12px; padding-right: 12px; }
section#page { clear: both; flex: 1; }

a { color: #162b48; }
a:focus { outline: none; }
a.dimmed:after,	li.hidden h3:after { content: '\f056'; font-family: FontAwesome; margin: 0px 8px; }
em { font-weight: inherit; }
h1, h2, h3 { font-family: "BrandonGothic", Arial, sans-serif; text-transform: uppercase; }
h1 { color: #162b48; font-size: 30px; font-weight: 700; line-height: 35px; margin: 0px; }
h2 { color: #cc9933; font-size: 20px; margin-top: 0px; }
h3 { font-size: 18px; }
img { border: 0; vertical-align: baseline; }
img.iconsmall { margin-left: 3px; margin-right: 3px; vertical-align: middle; }
input[type=submit] { padding: 5px; }
li { list-style-type: none; }
ol, ul { margin: 0px; }
strong { font-style: inherit; }
.alert { border-radius: 0px; text-align: center; }
.fa, .glyphicon { margin: 0px 4px; }
.fa-2x, .glyphicon-2x { font-size: 2em; }
.glyphicon-new-window { color: #ccc; font-size: 12px; }
table.borderless, 
table.borderless td,
table[border="0"] td
{ border: none; }
table .mediaplugin { display: table-cell; }
.m-t-3 { margin-top: 3rem!important; }
.row { margin-left: 0px; margin-right: 0px; }

#cu-login-button { margin-left: 10px; }
#cuprogress { margin-top: 16px; }
#cuprogress.generaltable tbody>tr:nth-child(odd)>td.alert { background-color: #fcf8e3; }
#cuprogress tr:hover>td.alert { background-color: #fcf8e3; }
#cuprogress.generaltable tbody>tr:nth-child(odd)>td.alert-error { background-color: #f2dede; }
#cuprogress tr:hover>td.alert-error { background-color: #f2dede; } 
#cuprogress tr.header img.icon { height: auto; width: 30px; }
#cuprogress tr.header>td { text-align: center; }
#cuprogress tr.alert { text-align: left; }
#cuprogress .fa .student_grade { padding: 0px 8px; }
#cuprogress .fa>span { margin: 4px; }
#cuprogress td.section_col_left, #cuprogress th.sectioncol { border-color: inherit; border-left: 3px solid #777; }
#cuprogress td.section_col_right, #cuprogress th.sectioncol { border-color: inherit; border-right: 3px solid #777; }
#cuprogress td.alert { padding: 0px; }
#cuprogress td.grade.alert, #cuprogress td.lastcourseaccess.alert { border-color: inherit; padding: 4px; text-align: left; }
#cuprogress td.grade.alert a, #cuprogress td.lastcourseaccess.alert a { color: inherit; }
#page-admin-report-customsql-index .alert { margin: 0px; padding: 0px; }

/* CU CSS CLASSES */
.cu-navy-bg { background-color: #162b48; }
.cu-navy-color { color: #162b48; }
.cu-gold-bg { background-color: #cc9933; }
.cu-gold-color { color: #cc9933; }
.cu-accent-bg { background-color: #e8dcba; }
.cu-accent-color { color: #e8dcba; }
.cu-accent-lt-bg { background-color: #f2ecdc; }
.cu-accent-lt-color { color: #f2ecdc; }

/* BUTTONS */
a.button,
	#menuPanelTabs>span.tab>a,
	.button>a, 
	.continuebutton>a,
	.submissionlinks>a {
    background-color: #162b48;
	background-image: none;
    border: none; 
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 16px;
    margin-top: 8px; 
    padding: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
}
a.button:hover, #menuPanelTabs>span.tab>a:hover, .button>a:hover, .continuebutton>a:hover, .submissionlinks>a:hover { background-color: #cc9933; color: white; }

/* REPORT PAGES */
body.pagelayout-report { padding-top: 150px; padding-bottom: 50px; }
body.pagelayout-report>header { background-color: #fff; padding-top: 8px; position: fixed; top: 90px; width: 100%; z-index: 1;}
body.pagelayout-report>section>main#page-content { margin: 0px; padding: 0px; }
body.pagelayout-report>footer { position: fixed; bottom: 0px; width: 100%; }

.modal { background-color: transparent; border: 0; left: 0; top: 25%; -webkit-box-shadow: none; box-shadow: none; }
.user-enroller-panel>.modal {background-color: #fff; }
/* TABTREES */
.tabtree { margin-bottom: 16px; }
.tabtree .tabrow0 { margin: 1em 0; width: 100%; }
.tabtree .tabrow0 li.here .empty { display: block; height: 1px; overflow: hidden; padding: 0; position: absolute; width: 100%; bottom: -5px; }
.tabtree>ul { border-bottom: 3px solid; text-align: center; }
.tabtree>ul>li.here>ul { position: absolute; width: 100%; }
.tabtree ul ul { margin: 10px 0px; }
.tabtree li { display: inline; margin-right: 8px; }

.tabtree li.first.last.here { display: none; }

/* TABLES */
table { margin: 0px; }
table#assigningrole td { border: none; }
table#assigningrole tr:hover>td { background-color: transparent; }
table#explaincaps tbody>tr:nth-child(odd)>td, table#defineroletable tbody>tr:nth-child(odd)>td,
	table.grading-report tbody>tr:nth-child(odd)>td, table#listdirectories tbody>tr:nth-child(odd)>td,
	table.rolecaps tbody>tr:nth-child(odd)>td, table.userenrolment tbody>tr:nth-child(odd)>td,
	table#form tbody>tr:nth-child(odd)>td, form#movecourses table tbody>tr:nth-child(odd)>td,
	#page-admin-course-index .editcourse tbody>tr:nth-child(odd)>td,
	.forumheaderlist tbody>tr:nth-child(odd)>td, table.flexible tbody>tr:nth-child(odd)>td,
	.generaltable tbody>tr:nth-child(odd)>td
	{ background-color: transparent; }
.user-enroller-panel .uep-search-results .users tbody tr:hover>td, .user-enroller-panel .uep-search-results .cohorts tbody tr:hover>td, 
	table.grading-report tbody tr:hover>td, 
	.forumheaderlist tbody tr:hover>td, 
	.generaltable tbody tr:hover>td, 
	table.flexible tbody tr:hover>td, 
	.category_subcategories tbody tr:hover>td, 
	table#modules tbody tr:hover>td, 
	table#permissions tbody tr:hover>td, 
	.user-enroller-panel .uep-search-results 
	.users tbody tr:hover>th, 
	.user-enroller-panel .uep-search-results .cohorts tbody tr:hover>th, 
	table.grading-report tbody tr:hover>th, .forumheaderlist tbody tr:hover>th, 
	.generaltable tbody tr:hover>th, 
	table.flexible tbody tr:hover>th, 
	.category_subcategories tbody tr:hover>th, 
	table#modules tbody tr:hover>th, 
	table#permissions tbody tr:hover>th
	{ background: #f8f8f8; }
table#explaincaps tbody>tr:nth-child(odd)>th,
	table#defineroletable tbody>tr:nth-child(odd)>th, table.grading-report tbody>tr:nth-child(odd)>th,
	table#listdirectories tbody>tr:nth-child(odd)>th, table.rolecaps tbody>tr:nth-child(odd)>th,
	table.userenrolment tbody>tr:nth-child(odd)>th, table#form tbody>tr:nth-child(odd)>th,
	form#movecourses table tbody>tr:nth-child(odd)>th,
	#page-admin-course-index .editcourse tbody>tr:nth-child(odd)>th,
	.forumheaderlist tbody>tr:nth-child(odd)>th, table.flexible tbody>tr:nth-child(odd)>th,
	{background-color: transparent; }
table.controls td { background-color: #f8f8f8; border: 1px solid #e3e3e3; }
tbody>tr.plugintypeheader, tr.header { background-color: #f2ecdc; color: #162b48; }
tbody>tr>th>a { color: #162b48; }
thead>tr { background-color: #162b48; color: #fff; }
thead>tr>th { border-color: #f2ecdc; border-top-color: #162b48; }
thead>tr>th a, thead>tr>th a:hover, thead>tr>th a:focus, thead>tr>th a:active { color: #cc9933; text-decoration: none; }
thead>tr>th a:focus { font-style: italic; }
thead>tr>th:first-of-type { border-left-color: #162b48; }
thead>tr>th:last-of-type { border-right-color: #162b48; }
tr:hover>td { background-color: #f8f8f8; }
td, th { border: 1px solid #162b48; padding: 4px; } 
th>a { color: #fff; }
th>a:focus, th>a:hover { color: #cc9933; }
th>svg>text, th>a>svg>text { fill: #fff; }
tr.status-upgrade>td.status { background-color: #dff0d8; }


/* MOODLE CSS */
a.delete.icon>img.smallicon { height: 24px; }
a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, 
	.dimmed_category, .dimmed_category a,
	.dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, 
	.usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, 
	 li.section.hidden .content h3.sectionname, li.section.hidden .content h3.sectionname a, 
	 .error 
	 { color: #990000 !important; }
a.skip-block, a.skip { font-size: .85em; position: absolute; top: -1000em; text-decoration: none; }
a.skip-block:focus, a.skip-block:active, a.skip:focus, a.skip:active { display: block; position: static; }
i.clickable { cursor: pointer; }
li>span.note { color: #aeaeae; font-size: 0.9em; font-style: italic; padding: 3px 20px; }
main#page-content .preferences-group ul>li { list-style-type: none; margin-left: 0px; }
#add, #remove, .centerpara, .mdl-align { text-align: center; }
#coursesearch {	margin-top: 1em; text-align: left; }
#cu_attendance_studentcount { font-style: italic; }
#cu_block_coursesearch { margin: 0; }
#cu_morecourses { float: right; }
#cu_morecourses>a { display: none; }
#cu-nav-actionlinks { float: right; position: relative; z-index: 1; }
#cu-nav-actionlinks>ul { float: right; list-style: none; margin: 3px; }
#cu-nav-actionlinks>ul>li { float: left; margin: 0px 8px; }
#cu-nav-actionlinks a, #cu-nav-actionlinks a:hover { text-decoration: none; }
#dateselector-calendar-panel { top: 0px !important; z-index: 9999; }
#dateselector-calendar-panel .yui3-calendar-focused { width: auto !important; }
#userselector_options.collapsed { padding: 1em 0 2em 0; }
.accesshide { font-size: 1em; font-weight: normal; position: absolute; left: -10000px; }
.action-icon img.smallicon { margin: 0 .3em; padding: 3px; vertical-align: text-bottom; }
.action-icon img.smallicon[title="Allow"],
	.action-icon img.smallicon[title="Prevent"], 
	.action-icon img.smallicon[title="Prohibit"] 
	{ background-color: #f8f8f8; border: 1px solid #e3e3e3; border-radius: 8px; }
.activity_info .name>a { text-decoration: underline; }
.availabilityinfo.ishidden { display: none; }
.block_myoverview .empty-placeholder-image-lg { height: 150px; }
.calendar-controls>h2 { display: inline-block; margin: 0px; }
.calendar_event_course { background-color: #f2ecdc; }
.center { text-align: center; }
.clearer { background: transparent;	border-width: 0; clear: both; display: block; height: 1px; margin: 0; padding: 0; }
.collapsibleregion.collapsed { display: none; }
.continuebutton { text-align: center; visibility: hidden; }
.continuebutton>a { background-color: #162b48; color: #fff; display: inline-block; padding: 8px; text-align: center; text-transform: uppercase; }
.continuebutton a, .continuebutton form { visibility: visible; }
.course-content ul.topics li.section .summary { margin-left: 20px; }
.editing_showhide>img.icon.hide { display: inline-block !important; } /* Quick fix for hiding/showing course sections ... button was missing */
.disabled-message { display: none; }
.divider { background-color: #e5e5e5; height: 1px; margin: 9px 0; overflow: hidden; }
.helptooltip { margin: 0px 6px; }
.hover-tooltip-container .hover-tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: calc(-50% - 5px);
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    box-sizing: border-box;
    padding: 5px;
    white-space: nowrap;
    transition: opacity 0.15s,visibility 0.15s;
    z-index: 1000;
}
.hsuforum_count { display: inline-block; font-weight: bold; margin: 8px; }
.icon-pre { margin-right: 4px; }
.jsenabled .moodle-actionmenu[data-enhance] .menu { width: auto !important; }
.main .content ol>li, .generalbox ol>li, .hsuforum_introduction ol>li, .introduction ol>li { list-style-type: decimal; }
.main .content ul>li, .generalbox ul>li, .hsuforum_introduction ul>li, .introduction ul>li { list-style-type: square; }
.main .content li, .generalbox li, .hsuforum_introduction li, .introduction li { margin-left: 20px; }
.main .content .menubar>li, .main .content .menu li { margin-left: 0px; }
.main .content li.activity { list-style-type: none; margin: 0px; padding: 0.5em 0px;  }
.modified { color: #777; font-style: italic; }
.moodle-dialogue .tooltiptext {	max-height: 300px; padding: 8px; }
.moodle-dialogue-base .moodle-dialogue { margin-top: 90px; z-index: 4031; } 
.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd { padding: 1em; line-height: 2em; }
.no-scrolling {	overflow: hidden; }
.notice { font-style: italic; }
.path-local-cugrader main#page-content { padding: 0px; }
.path-mod-hsuforum #gradetype_warning { display: none; }
.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container { 
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #d9534f;
    color: #fff;
    cursor: pointer;
}
.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked+.preference-state-status-container { background-color: #5cb85c; }
.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container .off-text,
.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked+.preference-state-status-container .on-text
{ display: inline-block; }
.preferences-page-container .checkbox-container .loading-icon,
.preferences-container .preference-table thead th .config-warning,
.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container .loading-icon,
.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container .on-text,
.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked+.preference-state-status-container .off-text 
{ display: none; }
.processor-container .loading-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,.5);
}
.skip-block-to { display: block; height: 1px; overflow: hidden; }
.span4 { float: left; width: 33%; }
.user-enroller-panel { z-index: 100000; }
.whatissummon { font-size: 0.8em; }

