@CHARSET "utf-8";
/* Course Archiver */
body#page-admin-tool-coursearchiver-index.content-only aside#cu-block-region { display: none; }
.coursearchiver_bar { background-color: #33cc4c; }

/* General *?
body.maintenance_mode, body.maintenance_warn { padding-top: 120px; }
body.pagelayout-frontpage.notloggedin.maintenance_mode section#page>aside,
	body.pagelayout-frontpage.notloggedin.maintenance_warn section#page>aside
	 { padding-top: 60px; }
body.pagelayout-maintenance #region-main>.region-content>div[role="main"]>h2,
	body.pagelayout-maintenance .box.generalbox 
 	{ text-align: center; }
body.pagelayout-maintenance #maincontent { padding-top: 30px; }
/* DEBUGGING AND MAINTENANCE */
#adminsettings { text-align: center; }
#adminsettings>div { text-align: left; }
#cu-debug-info a { text-decoration: underline; }
#cu-debug-info div { margin-bottom: 16px; }
#notice { text-align: left; }
#notice .checkforudpates { margin-left:auto; margin-right: auto; width: 390px; }
#notice .checkforupdates>div { clear: both; }
#page-admin-index .releasenoteslink, 
	#page-admin-index .adminwarning, 
	#page-admin-index .adminerror
	{
	background-color: #f2ecdc;
	border: 1px solid #e8dcba;
	border-radius: 4px; 
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	min-width: 220px;
	padding: 8px 35px 8px 14px; 
	width: 60%; 
	 }
#plugins-check { margin-left: auto; margin-right: auto; }
#plugins-check ul>li { list-style-type: none; }
#plugins-control-panel .disabled .availability { background-color: #d9edf7; }
.adminwarning { margin-bottom: 20px; }
.adminwarning.availableupdatesinfo .moodleupdateinfo.maturity100 .info.release, 
	.adminwarning.availableupdatesinfo .moodleupdateinfo.maturity150 .info.release, 
	.pluginupdateinfo.maturity100, 
	.pluginupdateinfo.maturity150
	{ background-color: #f2ecdc; }
.maintenancewarning { overflow: hidden; padding: 3px 1em; position: fixed; top: 90px; right: 0px; text-align: center; width: 100%; z-index: 1040; }
.maintenancewarning.warning { background-color: #cc9933; border: none; color: #fff; }
.requires>ul>li:only-of-type { list-style: none; }
