@CHARSET "utf-8";
/* MOODLE BLOCKS */
a.blockmovetarget { border: 1px dotted #000; display: block; height: 30px; }

.block { border: none; margin-bottom: 1em; }
.block {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f8f8f8;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 1px 0px;
}
.block.hidden { display: block !important; visibility: visible !important; }
.block .content { background-color: rgba(255,255,255,0.7); border-top: 3px solid #002658; font-size: 14px; padding: 8px 12px; }

/* Block action buttons */
.block .header .block_action { padding: 5px 3px; }
.block .header .block_action img.block-hider-show,
.block.hidden .header .block_action img.block-hider-hide 
{ display: none; }
.block .header .block_action img.block_hider-hide,
.block.hidden .header .block_action img.block-hider-show { display: inline-block; }
.block .header .block_action { float: right; position: relative; right: 4px; }
.block .header .block_action input { zoom: 1.25; }
.block .header .block_action img { margin: 0px 2px; zoom: 1.25; }
.jsenabled .block.hidden .content { display: block; height: 0px; overflow: hidden; padding: 0px; position: relative; width: 100%; }
.block.list_block .unlist>li>.column { display: inline-block; vertical-align: top; }
.block .moodle-actionmenu { background-color: #f8f8f8; border-top: 3px solid #162b48; border-bottom: 1px solid #e7e7e7; height: 40px; margin-bottom: 12px; overflow: visible; }
.block_settings .block_tree p.hasicon img { height: 20px; margin-top: 0; width: 20px; }
.moodle-actionmenu, .moodle-actionmenu>ul, .moodle-actionmenu>ul>li { display: inline-block; }
.moodle-actionmenu ul { padding: 0;	margin: 0; list-style-type: none; }
.moodle-actionmenu ul.menu { top: 0px; }
.moodle-actionmenu .toggle-display, .moodle-actionmenu .menu-action-text { display: none; }
.jsenabled .moodle-actionmenu[data-enhance] { display: inline-block; }
.jsenabled .moodle-actionmenu[data-enhance] .menu { display: none; }
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display { display: inline; opacity: .5; filter: alpha(opacity = 50); }
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu { display: block; margin-left: 4px; padding-left: 4px; padding-right: 4px; }
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret	{ margin-top: 8px; margin-left: 2px; border-top-color: #777; }
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret:hover, .jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret:active { border-top-color: #555; }
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .iconsmall, 
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .smallicon 
{ margin: 4px 4px 4px 0; padding: 8px 4px 0 2px; vertical-align: text-bottom; }
.jsenabled .moodle-actionmenu[data-enhanced] .toggle-display { opacity: 1; filter: alpha(opacity = 100); }
.jsenabled .moodle-actionmenu[data-enhanced] .menu-action-text { display: inline; }
.jsenabled .moodle-actionmenu[data-enhanced] .menu { padding: 8px; position: absolute; width: 250px; }

.moodle-actionmenu[data-enhanced].show .menu { border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; position: absolute; }
.moodle-actionmenu[data-enhanced].show .menu a { border-radius: 0px !important; }
.moodle-actionmenu[data-enhanced].show .menu a:hover { background-color: #002658; color: #ffffff; }
.moodle-actionmenu[data-enhanced].show .menu a>img { margin: 0px 4px 0px -12px; padding: 0px; }

.moodle-actionmenu[data-enhanced].show { position: relative; }
.moodle-actionmenu[data-enhanced].show .menu {
	display: block;
	position: absolute;
	text-align: left;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 1000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 20px 0 #666;
	-moz-box-shadow: 5px 5px 20px 0 #666;
	box-shadow: 5px 5px 20px 0 #666
}
.moodle-actionmenu[data-enhanced].show .menu a { display: block; color: #333; padding: 2px 1em 2px 28px; }
.moodle-actionmenu[data-enhanced].show .menu a:hover { color: #fff;	background-color: #162b48; }
.moodle-actionmenu[data-enhanced].show .menu a:first-child 
{ 
	-webkit-border-top-right-radius: 4px; 
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px
}
.moodle-actionmenu[data-enhanced].show .menu a:last-child 
{
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px
}
.moodle-actionmenu[data-enhanced].show .menu a.hidden {	display: none; }
.moodle-actionmenu[data-enhanced].show .menu img { vertical-align: middle; }
.moodle-actionmenu[data-enhanced].show .menu .iconsmall, .moodle-actionmenu[data-enhanced].show .menu .smallicon { margin: 4px 4px 4px -24px; padding: 4px; }
.moodle-actionmenu[data-enhanced].show .menu>li { display: block; }
.moodle-actionmenu[data-enhanced].show .menu.align-tl-bl { top: 100%; left: 0; margin-top: 4px; }
.moodle-actionmenu[data-enhanced].show .menu.align-tr-bl { top: 100%; right: 100%; }
.moodle-actionmenu[data-enhanced].show .menu.align-bl-bl { bottom: 100%; left: 0; }
.moodle-actionmenu[data-enhanced].show .menu.align-br-bl { bottom: 100%; right: 100%; }
.moodle-actionmenu[data-enhanced].show .menu.align-tl-br { top: 100%; left: 100%; }
.moodle-actionmenu[data-enhanced].show .menu.align-tr-br { top: 100%; right: 0;	margin-top: 4px; }
.moodle-actionmenu[data-enhanced].show .menu.align-bl-br { bottom: 100%; left: 100%; }
.moodle-actionmenu[data-enhanced].show .menu.align-br-br { bottom: 100%; right: 0; }
.moodle-actionmenu[data-enhanced].show .menu.align-tl-tl { top: 0; left: 0; }
.moodle-actionmenu[data-enhanced].show .menu.align-tr-tl { top: 0; right: 100%;	margin-right: 4px; }
.moodle-actionmenu[data-enhanced].show .menu.align-bl-tl { bottom: 100%; left: 0; margin-bottom: 4px; }
.moodle-actionmenu[data-enhanced].show .menu.align-br-tl { bottom: 100%; right: 100%; }
.moodle-actionmenu[data-enhanced].show .menu.align-tl-tr { top: 0; left: 100%; margin-left: 4px; }
.moodle-actionmenu[data-enhanced].show .menu.align-tr-tr { top: 0; right: 0; }
.moodle-actionmenu[data-enhanced].show .menu.align-bl-tr { bottom: 100%; left: 100%; }
.moodle-actionmenu[data-enhanced].show .menu.align-br-tr { bottom: 100%; right: 0; margin-bottom: 4px; }
.moodle-actionmenu[data-enhanced].show.nowrap-items .menu>li { white-space: nowrap; }
.moodle-actionmenu {	text-align: right; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu {	text-align: right; left: 0;	right: auto; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu a { padding: 2px 28px 2px 1em; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu .iconsmall, .dir-rtl .moodle-actionmenu[data-enhanced].show .menu .smallicon { margin-right: -24px; margin-left: 4px; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tl-bl {	left: auto;	right: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tr-bl { right: auto; left: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-bl-bl {	left: auto;	right: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-br-bl {	right: auto; left: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tl-br {	left: auto;	right: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tr-br {	right: auto; left: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-bl-br {	left: auto;	right: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-br-br {	right: auto; left: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tl-tl {	left: auto;	right: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tr-tl {	right: auto; left: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-bl-tl {	left: auto;	right: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-br-tl {	right: auto; left: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tl-tr {	left: auto;	right: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tr-tr {	right: auto; left: 0; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-bl-tr {	left: auto;	right: 100%; }
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-br-tr {	right: auto; left: 0; }
.dir-rtl .moodle-actionmenu { text-align: right; }
ul.dragdrop-keyboard-drag li { list-style-type: none; } 
.block-control-actions .moodle-core-dragdrop-draghandle img { width: 16px; height: 16px; }

/* Block header */
.block .header .commands { float: left; padding: 8px; text-align: left; width: 100%; }
.block .header .commands img.iconsmall { zoom: 1.25; }
.jsenabled .block.hidden .commands { display: none; }

.block .header h1,
	.block .header h2,
	.block .header h3 
	{ margin-bottom: 0px; margin-left: 8px; }
.block .header h2,
	.tabtree>ul>li>a 
	{ background-color: transparent; 
	border-bottom: none; 
	color: #162b48; 
	display: inline-block; 
	font-size: 16px; 
	line-height: 18px; 
	padding: 4px; 
	text-align: center; 
	text-transform: uppercase; 
	width: auto; 
	word-wrap: break-word; }

/* Dock */
body.has_dock_top_horizontal #cu-dock h1 { border-left: 1px solid #ccc; margin-left: 15px; padding-left: 15px; }
body.has_dock_top_horizontal #cu-dock hr { margin: 8px 0px; }
body.has_dock_top_horizontal #cu-dock #cu-courseinfo-block .dropdown-menu { left: 15px; width: 100%; }
body.has_dock_top_horizontal #cu-dock #cu-courseinfo-block>li.dropdown:hover>ul.dropdown-menu { display: block; }
body.has_dock_top_horizontal #dock { float: left; height: 40px; max-width: 60%; overflow: hidden; }
body.has_dock_top_horizontal #dock .buttons_container { height: 40px; }
body.has_dock_top_horizontal #dock .buttons_container .controls { float: left; }
body.has_dock_top_horizontal #dock .buttons_container .dockeditem_container { float: right; }
body.has_dock_top_horizontal #dock .dockeditem { display: inline-block; }
body.has_dock_top_horizontal #dock .dockeditem.firstdockitem { margin-left: 10px; }
body.has_dock_top_horizontal #dock .dockeditem:hover { background-color: #162b48; }
body.has_dock_top_horizontal #dock .dockeditem:hover .dockedtitle>h2 { color: #fff; font-weight: bold; }
body.has_dock_top_horizontal #dock .dockeditem .controls { line-height: 30px; bottom: auto; right: 10px; top: 0px; width: auto; }
body.has_dock_top_horizontal #dock .dockeditem .dockedtitle { height: auto !important; }
body.has_dock_top_horizontal #dock .dockeditem .dockedtitle h2 { color: #162b48; font-size: 14px; line-height: 40px; margin: 0px 12px;}
body.has_dock_top_horizontal #dock .dockeditem .dockedtitle h2:after { content: "\f0d7"; font-family: FontAwesome; padding-left: 2px; }
body.has_dock_top_horizontal #dockeditempanel { min-width: 200px; position: absolute; z-index: 12000; left: 100%;}
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_bd { clear: both; overflow: auto; padding: 0px 10px 10px 10px; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_bd .block_navigation { overflow: visible; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_content 
	{ background-color: #fff; border: 1px solid rgba(0,0,0,.15); border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 0; margin-left: 15px; padding: 0px; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_content .dockeditempanel_hd { background-color: #f8f8f8; display: block; min-height: 30px; width: 100%; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_content .dockeditempanel_hd .commands { float: right; } 
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .moodle-actionmenu { padding: 0px 10px; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd>h2 { display: none; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .commands img { margin: 8px 8px 8px 0px; width: 16px; }
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .commands>a, 
	body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .commands>span, 
	body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .commands .hidepanelicon img 
	{ cursor: pointer; }

#dockeditempanel .dockeditempanel_hd .commands img.actionmenu {
	width: auto
}
body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .hidepanelicon,
	body.has_dock_top_horizontal #dockeditempanel .dockeditempanel_hd .moveto 
	{ float: right; }
#dock .controls img { cursor: pointer; }
#dock .editing_move, #dock .moodle-core-dragdrop-draghandle { display: none; }
#dock .nothingdocked { display: none; visibility: hidden; }

#dockeditempanel.dockitempanel_hidden { display:none; }
.block .header .block_action>* { margin-left: 3px; }

/* Add a Block Block */
/* body.pagelayout-course.editing .block-region .block_adminblock { display: none; } */

/* Course Overview Block */
.block_course_overview .content { margin: 0px; }

/* Course Summary * HTML Block */
.block_html .no-overflow, .block_course_summary .no-overflow { overflow: visible; padding-bottom: 32px; }
.block_html li, .block_course_summary li { list-style-type: disc; margin-left: 16px; }

/* Latest News Block */
.block_news_items .content .info a { color: #cc9933; font-size: 16px; font-weight: bold; }
.block_news_items .content ul.unlist li.post { margin-bottom: 16px; }

/* Marking Manager */
.block_cu_marking .r1 { background-color: inherit; }

/* Navigation Block */
.block_navigation .block_tree li { list-style: none; overflow: visible; }

/* Online Users Block */
.block_online_users .content .list { margin-bottom: 20px; margin-left: 0px; }
.block_online_users .content .list li.listentry { list-style: none; }

/* Quickmail */
.block_quickmail .r1 { background-color: inherit; }

/* Search Forums */
.block_search_forums .searchform { text-align: left; }

/* OTHER */

body.path-grade .tabtree>ul>li>a { font-size: 12px; }
.tabtree>ul>li.selected>a, .tabtree>ul>li.selected>ul>li>a.nolink { background-color: #e9ecf1; color: #13265f; pointer-events: none; }

.block.block_with_controls .content { padding-top: 32px; }

.block hr { margin: 0px; }
.block .footer { margin: 8px 0px; }
.block_search_forums .invisiblefieldset { display: inline; }
