@CHARSET "utf-8";
a.collapse-sections img, a.expand-sections img { margin: 0px 2px; zoom: 1.25; }
a.editing_delete>img.icon { width: 16px; }

#pagelayout-incourse main .region-content h1, #pagelayout-incourse main .region-content h2, #pagelayout-incourse main .region-content h3,
	.course-content h1,	.course-content h2, .course-content h3 
	{ color: #cc9933; line-height: 35px; }

a#add_mod_assignment { display: none; }
body.pgs .ilp_midterm, body.pgs .block_intelligent_learning .content>ul>li.r1 { display: none; }

main#page-content ul>li.activity
	main#page-content ul>li.clearfloat, 
	main#page-content ul.topics>li.section,
	main#page-content ul.ui-tabs-nav>li
	{ list-style-type: none; margin: 0px; }

.box.generalbox.center { text-align: inherit; }
.course-content .activity a { text-decoration: underline; }
.course-content .activity a:hover { color: #cc9933; } 
.course-content h1 { font-size: 20px; }
.course-content h2 { color: #000; font-size: 20px; }
.course-content h3 { color: #000; font-size: 18px; }
.course-content h4 { color: #000; font-size: 18px; }
.course-content h5 { color: #000; font-size: 16px; }
.course-content h6 { color: #000; font-size: 14px; }
.course-content h2.pagetitle { font-size: 24px; margin: 0px; text-align: left; }
.course-content h3.sectionname { color: inherit; font-size: 20px; }
.course-content table[border="0"] td { border: none; }

.content .modtype_label li,
.hsuforum_introduction li,
.path-mod-lesson #region-main .region-content .box.contents li,
.path-mod-lesson #region-main .region-content .generaltable li,
#page-mod-assign-view .generalbox li,
#page-mod-forum-view .generalbox li,
#page-mod-page-view .generalbox li,
#page-mod-quiz-view .generalbox li,
#page-mod-turnitintooltwo-view .introduction li
{ margin-left: 40px; }

.path-mod-lesson #region-main .region-content .box.contents li,
.path-mod-lesson #region-main .region-content .generaltable li
{ list-style-type: disc; }

.course-content li.section li.activity ul ul { margin-left: 50px; }

.course-content .main .content ol>li,
.editor_atto_content ol>li,
.generalbox ol>li,
.hsuforum_introduction ol>li,
.introduction ol>li
{ list-style-type: decimal; margin-left: 40px; }

.course-content .main .content ol>li>ol>li,
.editor_atto_content ol>li>ol>li,
.generalbox ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li,
.introduction ol>li>ol>li
{ list-style-type: lower-alpha; }

.course-content .main .content ol>li>ol>li>ol>li, 
.editor_atto_content ol>li>ol>li>ol>li,
.generalbox ol>li>ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li>ol>li,
.introduction ol>li>ol>li>ol>li
{ list-style-type: lower-roman; }

.course-content .main .content ol>li>ol>li>ol>li>ol>li,
.editor_atto_content ol>li>ol>li>ol>li>ol>li,
.generalbox ol>li>ol>li>ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li,
.introduction ol>li>ol>li>ol>li>ol>li
{ list-style-type: decimal; }

.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li
{ list-style-type: upper-alpha; }

.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li
{ list-style: none; margin-left: 16px; }

ol>li>ol>li>ol>li>ol>li>ol>li>ol { counter-reset: item; }

.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before
{ counter-increment: item; content : "(" counter(item,decimal) ") "; }

ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol { counter-reset: item; }

.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before
{ counter-increment: item; content : "(" counter(item,lower-alpha) ") "; }

ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol { counter-reset: ; item}

.course-content .main .content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.editor_atto_content ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.generalbox ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.hsuforum_introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before,
.introduction ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before
{ counter-increment: item; content : "(" counter(item,lower-roman) ") "; }

.course-content ul.topics li.section, .course-content .single-section { border: 1px solid #e3e3e3; border-radius: 4px; }
.course-content ul.topics li.section .left { padding-top: 5px; }
.course-content .folderview .content>h3.sectionname>a { margin-left: 6px; }
.course-content .section .activity .filler, .sitetopic .section .activity .filler { display: inline-block; height: 16px; margin: 7px; padding: 0.3em; vertical-align: text-bottom; width: 16px; }
.course-content .single-section h3.sectionname { clear: both; line-height: 20px; margin: 0px; position: relative; top: -10px; text-align: center; }
.course-content .single-section h3.sectionname.accesshide { height: 0px; }
.course-content .single-section .section-navigation { background-color: #f8f8f8; padding: 0.5em; }
.course-content .single-section .section-navigation.navigationtitle { border-bottom: 3px solid #162b48; }
.course-content .single-section .section-navigation.mdl-bottom { border-top: 1px solid #e3e3e3; }
.course-content .single-section .section-navigation .viewall.mdl-right { clear: both; display: none; float: none; }
.course-content .multi-section ul.folderview li.section .right.side { margin-top: 10px; }
.editing .course-content .multi-section ul.folderview li.section .right.side { margin-top: -12px; }
.jsenabled .course-content .moodle-actionmenu[data-enhance] ul.menubar>li>a.toggle-display.textmenu { 
	background: #162b48; 
	border: none; 
	border-radius: 0; 
	color: #ffffff; 
	margin: 0px; 
	padding: 5px 20px; 
	text-align: center; 
	text-decoration: none; 
	text-transform: uppercase; 
	width: auto; 
}
.editing .section .activity .contentwithoutlink, .editing .section .activity .activityinstance { padding-right: 125px; }
.editing .sitetopic .section .activity .activityinstance, 
	.editing .course-content .section .activity .activityinstance, 
	.editing .sitetopic .section .activity .contentwithoutlink, 
	.editing .course-content .section .activity,
	.editing .sitetopic .section .activity.modtype_hsuforum .activityinstance, 
	.editing .course-content .section .activity.modtype_hsuforum .activityinstance,
	.contentwithoutlink 
	{ padding-right: 200px; width: auto; }
	
.hsuforum_introduction ul { margin-bottom: 16px; }
.section .activity .activityinstance, .section .label .contentwithoutlink, .section .label .activityinstance { margin-left: 16px; position: relative; z-index: 1; }
.section .activity .actions { position: absolute; left: 0px; top: 3px; text-align: left; width: 100%; }
.section .activity .actions .moodle-actionmenu { position: absolute; right: 0px; }
.section .activity .actions .moodle-actionmenu ul.menubar { position: relative; z-index: 3; }
.section .activity .editing_move { left: -30px; }
.section .label .contentwithoutlink, .section .label .activityinstance { display: block; height: inherit; margin-left: 16px; padding-right: 32px; text-align: left; }
