@CHARSET "utf-8";
.editor_atto_content ol, .editor_atto_content ul { margin-left: 16px; }
.editor_atto_content ol>li { list-style-type: decimal; }
.editor_atto_content ul>li { list-style-type: disc; }
.editor_atto_content ul>li>ul>li { list-style-type: circle; }
.editor_atto_toolbar img.icon { height: 16px; }
