@CHARSET "utf-8";
body#page-backup-restorefile .singlebutton { margin-bottom: 20px; }
fieldset.hidden { display: inherit; visibility: inherit; }
img.req { margin: 0px 4px; }
input[type="color"],
	input[type="date"], 
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"], 
	input[type="month"], 
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea,
	.uneditable-input 
	{ color: #555; border-radius: 4px; font-size: 14px; display: inline-block; line-height: 20px; padding: 4px 6px; vertical-align: middle; }

input[size],
	textarea[cols]
	{ width: auto; }

input#id_setting_course_course_fullname { width: 350px; }	
input#id_submitbutton { float: left; margin-right: 10px; }
label { margin-right: 10px; }
select { height: 30px; margin: 0px 8px 0px 0px; }

form#assignform { border: 1px solid #e3e3e3; border-radius: 4px; }
#local-cugrader-gradepane .femptylabel { float: left; margin-right: 8px; padding-bottom: 16px; }
#local-cugrader-gradepane .femptylabel>.felement.fstatic { display: block; font-weight: bold; }
.femptylabel>.fitemtitle { display: none; }
.form-buttons, .path-admin .buttons { padding-left: 200px; }
.form-item, 
	.mform .fitem
	{ margin-bottom: 20px; }
.form-item .form-label,
	div.fitemtitle
	{ float: left; text-align: right; width: 180px; }
.form-item .form-label .form-shortname { display: block; font-size: 0.9em; }
.form-item .form-setting .form-defaultinfo, .form-label .form-shortname { color: #999; }
.form-item .form-setting .form-defaultinfo,
	.form-item .form-setting .form-password .unmask
	{ display: inline-block; }
.form-item .form-description,
	.form-item .form-setting,
	.mform .fdescription,
	.mform .felement
	{ margin-left: 200px; }
.form-item .form-setting .defaultsnext { display: inline; margin-right: .5em; } 
.mform { margin-bottom: 20px; }
.mform .fitem { float: none; }

/* FILE MANAGER */
input.fp-btn-choose { padding: 2px 10px; }

#fitem_id_submitbutton { margin: 0px 0px 30px ; padding: 0px 20px 20px 0px; }

.dndsupported .dndupload-message { display: inline; }
.dndupload-arrow { height: 80px; padding: 10px; position: absolute; top: 5px; width: 100%; }
.dndupload-arrow:after { color: #cc9933; content: "\f093"; font-family: FontAwesome; font-size: 3em; font-style: normal; font-weight: normal; opacity: 0.75; }
.dndupload-target { display: none; }
.dndupload-uploadinprogress,
	.filemanager .filemanager-updating 
	{ display: none; text-align: center; }
.dnduploadnotsupported-message { display: none; }
.filemanager .fp-content { max-height: 472px; min-height: 157px; overflow: auto; }
.filemanager .fp-img-downloading { display: none; padding: 7px; }
.filemanager .fp-navbar { background-color: #f8f8f8; border: 1px solid #bbb; border-bottom: none; }
.filemanager .fp-restrictions { text-align: right; }
.filemanager-container,
	.filepicker-filelist 
	{ background: #fff; border: 1px solid #bbb; clear: both; min-height: 140px; overflow: hidden; position: relative; }
.filemanager-container .dndupload-target,
	.filepicker-filelist .dndupload-target
	{ background: #fff; border: 2px dashed #cc9933; box-shadow: 0 0 0 10px #fff; padding-top: 85px; position: absolute; top: 10px; bottom: 10px; left: 10px; right: 10px; text-align: center; }
.filemanager.fm-noitems .fm-empty-container,
	.filepicker-filelist .filepicker-container
	{ border: 2px dashed #bbb; display: block; padding-top: 85px; position: absolute; top: 10px; bottom: 10px; left: 10px; right: 10px; text-align: center; }
.filemanager.fm-loading .filemanager-toolbar, 
	.filemanager.fm-loading .fp-pathbar, 
	.filemanager.fm-loading .filemanager-container, 
	.filemanager.fm-loaded .filemanager-loading, 
	.filemanager.fm-maxfiles .fp-btn-add, 
	.filemanager.fm-maxfiles .dndupload-message, 
	.filemanager.fm-noitems .fp-btn-download, 
	.filemanager .fm-empty-container, 
	.filemanager.fm-noitems .filemanager-container .fp-content,
	.filemanager.fm-updating .fm-content-wrapper, 
	.filemanager.fm-nomkdir .fp-btn-mkdir, 
	.fitem.disabled .filemanager .filemanager-toolbar, 
	.fitem.disabled .filemanager .fp-pathbar, 
	.fitem.disabled .filemanager .fp-restrictions, 
	.fitem.disabled .filemanager .fm-content-wrapper,
	.filemanager.fp-select .fp-select-loading,
	.filemanager.fp-select.fp-folder .fp-license, 
	.filemanager.fp-select.fp-folder .fp-author, 
	.filemanager.fp-select.fp-file .fp-file-unzip,
	.filemanager.fp-select.fp-folder .fp-file-unzip, 
	.filemanager.fp-select.fp-file .fp-file-zip, 
	.filemanager.fp-select.fp-zip .fp-file-zip,
	.filemanager.fp-select .fp-reflist.fp-unknown, 
	.filemanager.fp-select .fp-reflist .fp-reflistloading
	.filemanager.fp-select .fp-original.fp-unknown, 
	.filemanager.fp-select .fp-original .fp-originloading,
	.filemanager.fp-select .fp-original.fp-unknown, 
	.filemanager.fp-select .fp-original .fp-originloading,
	.fp-select .fp-dimensions.fp-unknown
	{ display: none; }
.filemanager.fp-dlg { text-align: center; }
.filemanager.fp-dlg .fp-dlg-text { line-height: 22px; min-width: 200px; margin: 40px 20px 20px 20px; padding: 0px 10px; max-width: 340px; max-height: 300px; min-width: 200px;  }
.filemanager.fp-mkdir-dlg { padding: 20px; }
.filemanager.fp-mkdir-text input { margin-bottom: 8px; }
.filemanager-toolbar { overflow: hidden; padding: 4px; }
.filemanager.fp-select .fp-file-setmain, .filemanager.fp-select .fp-file-setmain-help { display: inline-block; }
.filemanager .fp-mainfile .fp-filename { background-color: orange !important; color: #fff; font-weight: bold; }
.file-picker.fp-select .fp-select-loading, .file-picker.fp-select .uneditable { display: none; }
.file-picker .fp-clear-left { clear: left; }
.file-picker .fp-content { background: #fff; clear: none; height: 442px; min-height: 40px; overflow: auto; }
.file-picker .fp-list .fp-repo a { display: block; padding: .5em .7em; }
.file-picker .fp-navbar, .fp-navbar { background-color: #f8f8f8; border-bottom: 1px solid #e8e8e8; min-height: 40px; overflow: hidden; }
.file-picker .fp-pathbar { display: table-row; }
.file-picker .fp-pathbar, .fp-pathbar { border-top: 1px solid #bbb; min-height: 20px; padding: 5px 8px 1px; }
.file-picker .fp-repo-area { border-right: 1px solid #bbb; display: inline-block; float: left; height: 505px; overflow: auto; width: 180px; }
.file-picker .fp-repo-items { float: none; margin-left: 181px; width: auto; }
.file-picker .fp-toolbar, .fp-toolbar { float: left; padding: 4px; }
.file-picker .fp-toolbar.empty, .fp-toolbar.empty { display: none; }
.file-picker .fp-toolbar .disabled, .fp-toolbar .disabled { display: none; }
.file-picker .fp-viewbar, .fp-viewbar { background: #fff; border: 1px solid #ccc; border-bottom: 1px solid #b3b3b3; border-radius: 4px; float: right; height: 30px; margin: 4px; }
.file-picker .fp-viewbar a, .fp-viewbar a { border-right: 1px solid #CCC; display: block; float: left; height: 30px; width: 30px; }
.file-picker .fp-viewbar a:active,
	.file-picker .fp-viewbar a.checked,
	.fp-viewbar a:active, .fp-viewbar a.checked
	{ background-image: radial-gradient(ellipse at center, #fff 40%, #dfdfdf 100%); background-color: #dfdfdf; }
.file-picker .fp-viewbar a.fp-vb-icons, .fp-viewbar a.fp-vb-icons { border-radius: 4px 0px 0px 4px; }
.file-picker .fp-viewbar a.fp-vb-tree, .fp-viewbar a.fp-vb-tree { border-right: 0px; border-radius: 0px 4px 4px 0px; }
.file-picker .fp-viewbar a img, .fp-viewbar a img { margin: 7px; }
.fp-btn-add a, .fp-btn-download a, .fp-btn-mkdir a, .fp-tb-help a, .fp-tb-manage a, .fp-tb-logout a, .fp-tb-refresh a { border-radius: 4px; display: block; height: 30px; width: 30px; }
.fp-btn-add img, .fp-btn-download img, .fp-btn-mkdir img, .fp-tb-help img, .fp-tb-manage img, .fp-tb-logout img, .fp-tb-refresh img { margin: 7px; }
.fp-fileinfo .fp-value { display: inline-block; padding-left: 5px; }
.fp-forminset { max-width: 400px; padding: 0 10px; }
.fp-forminset .control-group label.control-label { width: 105px; }
.fp-forminset .control-group label.control-radio { float: right; padding-top: 0px; text-align: left; width: 215px; }
.fp-forminset .control-group .controls { margin-left: 125px; }
.fp-forminset .control-group .controls select { width: 100%; }
.fp-forminset .fp-author .controls input[type="text"], .fp-forminset .fp-saveas .controls input[type="text"] { width: 100%; }
.fp-iconview .fp-file { float: left; margin: 10px 10px 35px 10px; min-height: 100px; min-width: 100px; position: relative; text-align: center; }
.fp-iconview .fp-filename-field { font-size: 11px; height: auto; overflow: hidden; position: absolute; word-wrap: break-word; }
.fp-iconview .fp-filename-field .fp-filename { background: #fff; line-height: 16px; min-width: 112px; padding: 5px 10px 12px 0px; }
.fp-iconview .fp-reficons1, .fp-iconview .fp-reficons2 { height: 100%; width: 100%; position: absolute; top: 0; left: 0; }
.fp-iconview .fp-thumbnail { display: block; line-height: 110px; min-width: 100px; text-align: center; }
.fp-login-popup-but { margin: 20px; }
.fp-pathbar .fp-path-folder { height: 12px; margin-left: 4px; width: 27px; }
.fp-pathbar .fp-path-folder:before { color: #777; content: '\f07b'; font-family: FontAwesome; padding: 0px 4px; }
.fp-select form { padding: 20px 20px 0px 20px; }
.fp-select .fp-hr { background-color: #fff; border-bottom: 1px solid #bbb; clear: both; height: 1px; margin: 10px 0px; width: auto; }
.fp-select .fp-info { clear: both; display: block; padding: 1px 20px 0px 20px; }
.fp-select .fp-select-buttons { float: right; }
.fp-select .fp-thumbnail { background: #fff; float: left; line-height: 120px; margin: 10px 20px 0px 0px; min-height: 110px; min-width: 110px; text-align: center; }
.fp-toolbar div { display: block; float: left; margin-right: 4px; }
.fp-toolbar .fp-btn-add, 
	.fp-toolbar .fp-btn-download, 
	.fp-toolbar .fp-btn-mkdir, 
	.fp-toolbar .fp-tb-help, 
	.fp-toolbar .fp-tb-manage, 
	.fp-toolbar .fp-tb-logout, 
	.fp-toolbar .fp-tb-refresh 
	{ background: #fff;	border: 1px solid #ccc;	border-bottom: 1px solid #b3b3b3; border-radius: 4px; height: 30px;	width: 30px; }

.jsenabled .filemanager-loading { margin-top: 100px; }
.moodle-dialogue-base .closebutton { color: #162b48; cursor: pointer; float: right; font-family: FontAwesome; height: 15px; padding: 0px; vertical-align: middle; width: 25px; }
.moodle-dialogue-base .closebutton:before { content: "\f00d"; } 
.moodle-dialogue-base .moodle-dialogue-lightbox { color: #AAA; }
.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd { color: #555; font-size: 12px; line-height: 2em; }
.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-content .moodle-dialogue-ft {
	background-color: #fff;
	font-size: 12px; 
	margin: .7em 1em; 
	padding: 0px;
	text-align: right;
}
.moodle-dialogue-base .moodle-dialogue-wrap { 
	background-color: #fff;  
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 20px 0 #666;
    -moz-box-shadow: 5px 5px 20px 0 #666;
    box-shadow: 5px 5px 20px 0 #666;
}
.moodle-dialogue-hidden { display: none; }

/* LOGIN FORM */
.loginbox .loginpanel { 
	background-color: rgba(255,255,255,0.9); 
	border: 1px solid #ccc; 
	border-radius: 6px;
	height: auto; 
	margin: auto; 
	margin-bottom: 20px; 
	max-width: 370px; 
	padding: 30px; 
	position: relative; 
	text-align: center; 
	top: 20%; 
	width: 50%; }
.loginbox .loginpanel h2 { color: #162b48; text-align: center; text-transform: uppercase; }
.loginbox .loginform .form-label { color: #162b48; float: left; font-size: 18px; line-height: 18px; margin-bottom: 5px; padding: 10px; text-align: right; width: 125px; }
