@CHARSET "utf-8";
/* FOOTER */
footer { background-color: #162b48; color: #fff; padding: 0px; z-index: 1; }
footer a, footer a:hover, footer a:visited { color: #ffffff; }
footer a.contactinfo { color: rgba(255,255,255,0.8); display: block; }
footer .btn { margin-left: 6px; }
footer.maintenance #cu-footer-copyright, footer.report #cu-footer-copyright { padding: 8px; }
footer.report #cu-footer-content, footer.report #cu-footer-quicklinkicons { display: none; }
#page-footer .logininfo, #page-footer .sitelink, #page-footer .helplink, #page-footer .quicklink, #page-footer .cu-navbar-item { margin: 0px 0px 6px 0px; }
#page-footer .helplink img { display: none; }
#page-footer ul {list-style: none; margin: 0px; }
#page-footer { float: none; text-align: left; }
#cu-footer-content { height: auto; padding-top: 26px; padding-bottom: 16px; position: relative; z-index: 1; }
#cu-footer-content h2 { border: none; color: #ffffff; text-transform: uppercase; }
#cu-footer-copyright { border-top: 1px solid rgba(255,255,255,0.2); color: rgba(255,255,255,0.8); font-style: italic; padding: 22px; }
#cu-footer-warning { background-color: #a97a3c; color: #ffffff; bottom: 0px; font-size: 14px; line-height: 30px; position: fixed; text-align: center; width: 100%; }
#cu-footer-warning a { color: #ffffff; text-decoration: underline; }
body.userloggedinas #cu-footer-warning { display: block !important; opacity: .75; z-index: 1; }
footer .cu-navbar-item .glyphicon { vertical-align: top; }
#cu-footer-logo { text-align: center; }
#cu-moodle-version { margin-left: auto; margin-right: auto; margin-top: 30px; width: 100px; }