@CHARSET "utf-8";
body#page-site-index.notloggedin #cu-fullscreen { display: none; }

body #cu-nav-actionslinks i.fa-expand, 
	body>nav, body>footer,
	body.fullscreen #cu-fullscreen-title,
	body.fullscreen #cu-nav-actionlinks i.fa-compress
	{ display: block; }
	
body.fullscreen { padding: 0px; }
body.fullscreen.pagelayout-report>header { padding: 0px; position: relative; top: 0px; width: auto; }
body.fullscreen #cu-fullscreen-title { background-color: #fff; padding: 0px; }
body.fullscreen #cu-fullscreen-title h1 { color: #cc9933; font-size: 24px; }
body.fullscreen #cu-nav-actionlinks { background-color: #162b48; border-left: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; padding: 4px; position: fixed; top: -1px; right: -1px; width: auto; }
body.fullscreen #cu-nav-actionlinks i { color: #fff; }

body.fullscreen #cu-nav-actionlinks i.fa-expand,
	body.fullscreen>nav, body.fullscreen>footer,
	body.fullscreen .breadcrumb,
	body.fullscreen.path-grade .tabtree, 
	body.fullscreen.path-grade .gradeparent .floater.avg.floating,
	body.fullscreen>section#page>aside,
	body #cu-fullscreen-title, body.fullscreen #cu-fullscreen-title h1 .caret,
	body #cu-nav-actionlinks i.fa-compress 
	{ display: none; }
body.fullscreen>section#page>main#page-content { width: 100%; }
body.fullscreen .path-grade-report-grader .gradeparent table { margin-bottom: 0px; }