@CHARSET "utf-8";
/* ILP GRADE FORM */
body.path-blocks-intelligent_learning form#gradematrix { margin: auto; text-align: center; width: 700px; }
table#gmtable { margin: auto; width: 600px; }

/* GRADEBOOK */
table#grade-letters-view { margin-top: 8px; }
th.item>a,th.user>a,th.gradeitem>a, td.userreport>a, td.userfield>a, #user-grades th>a { color: #162b48; }
#choosepluginreport { float: right; }
#graded_users_selector { float: none; margin-top: 10px; text-align: left; }
.initialbar { overflow: auto; }
.initialbar .initialbarlabel { display: inline-block; width: 6em; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.initialbar .initialbarall { float: left; width: 4em; margin-bottom: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.initialbar .initialbargroups { float: left; }
.initialbar .initialbargroup { float: left; display: inline-block; white-space: nowrap; margin: 0; padding: 0; }
.initialbar .initialbargroup li { float: left; list-style: none; }
.initialbar .letter { display: inline-block; height: 1.35em; min-width: 1.35em; text-align: center; color: #162b48; background: #fff; border-width: 1px; border-color: #ddd; border-style: solid; }
.initialbar .letter:hover,
.initialbar .letter.active { color: white; background-color: #162b48; }
.user-grade.boxaligncenter, #overview-grade.boxaligncenter { margin-left: 0px; }
form#mform1 { margin-top: 10px; }
fieldset#id_gradeitems input[type=checkbox][disabled] { float: left; margin-right: 8px; }
#page-grade-report-joulegrader-index span.helptooltip { position: relative; top: 16px; }
#gradereport-joulegrader-navbox { background-color: #ffffff; border: none; }
/* .userfield.useremail, .userfield.useridnumber { display: none; } */
.usersuspendedicon { position: relative; top: 2px; left: 5px; }

#page-grade-report-grader-index #region-main { overflow: visible; }
.path-grade-report-grader .gradeparent .user.cell { white-space: nowrap; }
.content-only.path-grade-report-grader .gradeparent table { margin-left: 0px; }
.r0, .block-ilp-gmtable tr.odd, .user-grade td.oddd1, .user-grade th.oddd1,
.r1, .block-ilp-gmtable tr.even, .user-grade td.evend2, .user-grade th.evend2
{ background-color: #ffffff; }
.path-grade-report-user .user-grade.generaltable .levelodd { background-color: #fff; border-bottom: 1px solid #888; }
.path-grade-report-grader .gradeparent table { border: none; }
#user-grades th.studentheader, #user-grades tr.heading th.header.cell, .path-grade-report-grader .gradeparent .floater .header.cell,
.path-grade-report-user .user-grade thead th,
.path-grade-report-singleview .generaltable th.header
{ background-color: #162b48; border-right: none; color: #fff; }
.path-grade-report-grader .gradeparent .floater.sideonly.heading.floating .header.cell>a { color: #cc9933; }
#user-grades th.studentheader>a, #user-grades tr.heading th.header.cell>a, .path-grade-report-grader .gradeparent .floater .header.cell>a { color: #162b48; }
.path-grade-report-grader .gradeparent .floater .user.cell, .path-grade-report-grader .gradeparent .floater .header.userfield.cell { background-color: #fff; color: #162b48; }
.path-grade-report-grader .gradeparent .floater .header.cell { border: none; }
.path-grade-report-grader .gradeparent .floating { box-shadow: 3px 1px 3px 1px rgba(0,0,0,0.25); }
#user-grades td.fixedcolumn.cell.topleft.cell.c0 { background-color: #162b48; border: none; }
#user-grades>tbody>tr>th.catlevel1, 
.path-grade-report-grader .gradeparent tr td.grade.course.cell, .path-grade-report-grader .gradeparent tr.r0>td.course.grade,
.path-grade-report-user .user-grade.generaltable .level1, .path-grade-report-grader .gradeparent .fillerfirst
{ background-color: #444 !important; border: none; color: #fff; font-weight: bold; }
#user-grades>tbody>tr>th.catlevel1.item { background-color: #fff !important; border: 1px solid #ccc; color: #000; font-weight: normal; }
#user-grades>tbody>tr>th.category.catlevel2, #user-grades>tbody>tr>th.categoryitem.catlevel2, #user-grades>tbody>tr>th.fillerfirst.catlevel2,
#user-grades>tbody>tr>th.category.catlevel3, #user-grades>tbody>tr>th.categoryitem.catlevel3,
.path-grade-report-grader .gradeparent tr td.grade.cat.cell, .path-grade-report-grader .gradeparent tr.r0>td.grade.cat,
.path-grade-report-user .user-grade.generaltable .level2
{ background-color: #888 !important; border: none; color: #fff; font-weight: bold; }
.path-grade-report-grader .gradeparent tr td.grade.course.cell, .path-grade-report-grader .gradeparent tr.r0>td.grade.course,
.path-grade-report-grader .gradeparent tr td.grade.cat.cell, .path-grade-report-grader .gradeparent tr.r0>td.grade.cat
{ border-top: 1px solid #EEE; }
.path-grade-report-grader .gradeparent tr:nth-of-type(even) .cell { background-color: inherit; }
.quickfeedback { color: #000; }
.path-grade-report-singleview input[type="text"], .path-grade-report-grader .gradeparent .text { color: #000 !important; }


/* Gradebook hovering */
.path-grade-report tr.r0:hover, .path-grade-report tr.r0:focus, .path-grade-report tr.r1:hover, .path-grade-report tr.r1:focus { background-color: #ffff00; }
.path-grade-report-grader .gradeparent tr:hover>td.grade.course.cell, tr.r0:hover>td.grade.course.cell { background-color: #222 !important; color: #fff; }
.path-grade-report-grader .gradeparent tr:hover>td.grade.cat.cell, tr.r0:hover>td.grade.cat.cell { background-color: #666 !important; color: #fff; }

/* Overridden grades */
.path-grade-report-grader .gradeparent tr:nth-child(n) td.overridden:nth-child(n),
.path-grade-report-grader .gradeparent tr:nth-child(n) td.ajaxoverridden:nth-child(n)
{ background-color: #7cba00; }
.path-grade-report-grader .gradeparent tr:nth-child(n):hover>td.overridden:nth-child(n),
.path-grade-report-grader .gradeparent tr:nth-child(n):hover>td.ajaxoverridden:nth-child(n)
{ background-color: #9eed00 !important; color: #000; }
.path-grade-report-grader .gradeparent tr:nth-child(n) td.cat.ajaxoverridden:nth-child(n),
.path-grade-report-grader .gradeparent tr.r0>td.grade.cat.overridden,
.path-grade-report-grader .gradeparent tr:nth-of-type(even) td.grade.cat.overridden.cell
{ background-color: #007cba !important; }
.path-grade-report-grader .gradeparent tr:nth-child(n)>td.cat.overridden:nth-child(n)
{ background-color: #007EBE !important; color #fff; }
.path-grade-report-grader .gradeparent tr:nth-of-type(even):hover>td.grade.cat.overridden.cell,
.path-grade-report-grader .gradeparent tr:nth-child(n):hover>td.cat.overridden:nth-child(n),
.path-grade-report-grader .gradeparent tr:nth-child(n):hover>td.cat.ajaxoverridden:nth-child(n) 
{ background-color: #009eed !important; color: #fff; }
.path-grade-report-grader .gradeparent tr:nth-child(n) td.course.ajaxoverridden:nth-child(n),
.path-grade-report-grader .gradeparent tr.r0>td.grade.course.overridden,
.path-grade-report-grader .gradeparent tr:nth-of-type(even) td.grade.course.overridden.cell
{ background-color: #ba007c !important; }
.path-grade-report-grader .gradeparent tr:nth-of-type(even):hover>td.grade.course.overridden.cell,
.path-grade-report-grader .gradeparent tr:nth-child(n):hover>td.course.overridden:nth-child(n),
.path-grade-report-grader .gradeparent tr:nth-child(n):hover>td.course.ajaxoverridden:nth-child(n) 
{ background-color: #ed009e !important; color: #fff; }


/* Final average row and range row in gradebook */
.path-grade-report-grader th.range.cell, .path-grade-report-grader td.range.cell { background-color: #162b48; !important; color: #ccc; }
#user-grades>tbody>tr.avg.lastrow, .path-grade-report-grader .gradeparent .avg .cell, .path-grade-report-grader .gradeparent .avg.floating .cell  
{ background-color: #162b48; !important; color: #fff; }

.path-grade-report #page-content #region-main .region-content div>form,.path-grade-report #page-content #region-main .region-content div>h2 { padding-left: 15px; }

.has_dock.path-grade-report-grader .gradeparent .sideonly.floating > .cell, .has_dock.path-grade-report-grader .gradeparent .sideonly.floating > .cell, .has_dock.path-grade-report-grader .gradeparent .sideonly.floating>.cell { padding-left: 4px; }

table.joule-grades td.controls, 
.path-grade-report-joulegrader table tr.avg td.cell,
.path-grade-report-joulegrader table tr.avg, 
.path-grade-report-joulegrader table tr.avg td, 
.path-grade-report-joulegrader table tr.avg th 
{ background-color: #002658; color: #ffffff; }

/* Assignment Module */
.path-mod-assign [data-region="user-selector"] .alignment .form-autocomplete-downarrow { margin: 0px 12px 0px 0px; }
.path-mod-assign [data-region="user-selector"] .form-autocomplete-suggestions { background-color: #fff; position: relative; z-index: 2; }
.path-mod-assign [data-region="user-selector"] .form-autocomplete-suggestions>li { padding: 6px 12px; }
.path-mod-assign [data-region="user-selector"] .form-autocomplete-suggestions>li:hover { background-color: #162b48; color: #fff; }


#advancedgrading-groups .checkbox input[type=checkbox] {margin: 0px; }
#advancedgrading-groups .definition { padding-left: 20px; padding-top: 4px; }

.r0, .block-ilp-gmtable tr.odd, .user-grade td.oddd1, .user-grade th.oddd1 { background-color: #ffffff; }
.r1, .block-ilp-gmtable tr.even, .user-grade td.evend2, .user-grade th.evend2 { background-color: #E9ECF1; }
.block.block_intelligent_learning .r1 { background-color: transparent; }
.block.block_intelligent_learning .content>ul>li:first-of-type { display: none; }
#user-grades th.studentheader>a, #user-grades tr.heading th.header.cell>a { color: #fff; font-weight: bolder; }
