@CHARSET "utf-8";
/* SITE HEADER */
header .navbar .singlebutton { float: left; margin-left: 10px;}

/* NAVBAR */
a.navbar-brand { padding-left: 50px; background: url([[pix:theme|cu-cubelogo]]) no-repeat left center; }
#cu-dock { background-color: #f8f8f8; color: #162b48; height: auto; }
#cu-dock h1 { float: left; font-size: 14px; line-height: 40px; }
#cu-dock .fa-2x { font-size: 1.5em; }
#cu-navbar.collapse { display: block; }
#cu-quicklinks { height: 40px; }
#cu-usermenu { margin-right: 0px; }
.navbar { border-radius: 0px; margin-bottom: 0px; }
.navbar-default { background-color: #162b48; max-height: 91px; min-width: 275px; }
.navbar-default #cu-dock .navbar-nav { padding-right: 5px; }
.navbar-default #cu-dock .navbar-nav>li>a { color: #162b48; font-size: 14px; line-height: 40px; margin: 0px; padding: 0px; }
.navbar-default #cu-dock .navbar-nav>li>a:hover>span.hidden { display: inline-block; }
.navbar-default #cu-quicklinks.navbar-nav>li>a { color: #162b48; font-size: 14px; line-height: 30px; margin: 0px; padding: 5px; }
.navbar-default .navbar-brand { color: #fff; font-size: 2em; text-transform: uppercase; }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { color: #fff; }
.navbar-default .navbar-header .subbrand { color: #fff; display: inline-block; font-size: 1.75em; line-height: 48px; }
.navbar-default .navbar-header .subbrand .sitetitle { display: inline-block; }
.navbar-default .navbar-form { padding: 0px 0px 10px 15px; }
.navbar-default .navbar-form.navbar-right { margin-right: 0px; }
.navbar-default .navbar-form .form-group>input { width: 130px; }
.navbar-default .navbar-form .form-group>input[type="submit"] { width: auto; }
.navbar-default .navbar-form .form-group>input#coursesearchbox { width: 175px; }
.navbar-default .navbar-form .form-group>input#summonsearchtext { width: 145px; }
.navbar-default .navbar-nav>li>a { color: #fff; }
.navbar-default .nav>li.cu-accent-lt-bg>a { color: #162b48; }
.navbar-default .navbar-nav>li>a { text-transform: uppercase; }
.navbar-default .nav>li.cu-accent-lt-bg>a:focus,
	.navbar-default .navbar-nav>li.cu-accent-lt-bg>a:hover
	{ background-color: #e8dcba; }
.navbar-default .navbar-nav>li.cu-accent-bg>a { color: #162b48; }
.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover
	{ color: #000; background-color: #fff; }
.navbar-default .navbar-nav>li>a:focus, 
	.navbar-default .navbar-nav>li>a:hover
	{ color: #000; background-color: #eee; }
.navbar-default .dropdown-menu { min-width: 200px; padding-top: 10px; padding-bottom: 10px; }
.navbar-default .dropdown-menu.wide-menu { min-width: 270px; }
.navbar-default .dropdown-menu .itemnote { color: #999; font-size: 0.9em; font-style: italic; }
.navbar-default .dropdown-menu .contactinfo { color: #999; font-size: 0.9em; }
.navbar-default .dropdown-menu .contactinfo.support { padding-left: 40px; }
.navbar-default .dropdown-menu li.heading { padding: 3px 20px; }
.navbar-default .dropdown-menu li.heading>ul>li>a { display: block; padding: 3px 20px; }
.navbar-default .dropdown-menu>li>a:focus, .navbar-default .dropdown-menu>li>a:hover { background-color: #162b48; color: #fff; text-decoration: none; }
.navbar-default .dropdown-menu>li>a img:focus, 
	.navbar-default .dropdown-menu>li>a img:hover,
	.navbar-default .dropdown-menu>li>a.nohighlight
	{ background-color: transparent; color: inherit; text-decoration: none; }
.navbar-default .dropdown-menu.columns-2 { min-width: 520px; }
.navbar-default.maintenance .dropdown-menu.columns-2 { min-width: 160px; }
.navbar-default .dropdown-menu.columns-2 .col-sm-6 { padding-left: 5px; padding-right: 5px; }
.navbar-default .dropdown-menu.columns-2 ul { margin-left: 1em; }
.navbar-default .dropdown-menu.columns-3 { min-width: 900px; }
.navbar-default .dropdown-menu img.iconhelp.icon-pre { display: none; }
.navbar-default .dropdown-menu.search { min-width: 260px; }
.navbar-default .dropdown-menu .multi-column-dropdown {	list-style: none; }
.navbar-default .dropdown-menu .multi-column-dropdown>li>a { clear: both; color: #333; display: block; font-weight: 400; line-height: 1.42857143; padding: 3px 20px; white-space: nowrap; }
.navbar-default .dropdown-menu .multi-column-dropdown>li>a:hover,
.navbar-default .dropdown-menu .multi-column-dropdown>li>a:focus,
.navbar-default .dropdown-menu .multi-column-dropdown>li>ul>li>a:hover,
.navbar-default .dropdown-menu .multi-column-dropdown>li>ul>li>a:focus
{ background-color: #162b48; color: #fff; text-decoration: none; }
.navbar-default .dropdown-menu .multi-column-dropdown>li>a.img:hover,
.navbar-default .dropdown-menu .multi-column-dropdown>li>a.img:focus
{ background-color: transparent; color: transparent; text-decoration: none; }
.navbar-default input[type="text"] { margin-bottom: 0px; }
.navbar-default button[type="submit"] { text-transform: uppercase; }
.navbar-default ul.dropdown-menu { overflow: auto; }

/* BREADCRUMBS */
.breadcrumb { 
	background-color: transparent; 
	border-radius: 0px;
	color: #162b48; 
	line-height: 30px; 
	margin-bottom: 0px;
	margin-left: -15px;  
	padding: 1px; 
}
.breadcrumb li { 
	background: #f2ecdc;  
	display: block; 
	float: left; 
	height: 30px; 
    margin-right: 31px;
    padding-right: 10px;
    position: relative;
}
.breadcrumb li>a { color: #162b48; text-decoration: none; }
.breadcrumb li:hover { background: #e8dcba; text-decoration: none; }
.breadcrumb li:hover:before { border-color: #e8dcba; border-left-color: transparent; }
.breadcrumb li:hover:after { border-left-color: #e8dcba; }
.breadcrumb li:last-of-type { margin-right: 25px; }
.breadcrumb li:before { 
	border: 15px solid transparent;
	border-color: #f2ecdc;
	border-left-color: transparent;
	content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    width: 0;
}
.breadcrumb li:after {
	border: 15px solid transparent;
	border-left-color: #f2ecdc;
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: -30px;
}
.breadcrumb li:first-of-type { padding-left: 15px; }
.breadcrumb li:first-of-type:before { display: none; }
.breadcrumb ul { border: 1px solid transparent; display: inline-block; height: 32px; margin: 0px; }
.breadcrumb span.arrow.sep { visibility: hidden; } 
.search-input-wrapper { border-right: 1px solid #ccc; float: left; padding: 6px 8px; }
.search-input-wrapper>div { float: left; margin: 4px; }
.search-input-wrapper>form { display: none; float: left; margin: 0px 4px; }
.search-input-wrapper.expanded>form { display: block; } 
