@CHARSET "utf-8";
/* MOODLE LOGIN PAGE */
body.pagelayout-login { background-image: url([[pix:theme|login-bg]]); background-repeat: no-repeat; background-position: left top; background-size: cover; }
body.pagelayout-login header .navbar { display: none; }
.loginbox .loginpanel .desc { display: inline-block; font-size: 0.9em; margin: 0; margin-bottom: 5px; margin-top: 15px; padding: 0; }
.loginbox h2, .loginbox .subcontent { margin: 0px; padding: 0px; }
.loginpanel { margin-bottom: 20px; }


/* PRE-LOGIN FRONTPAGE */
body.ie>footer, body.ie #cu-block-region, body.ie #welcome_box>h2, body.ie #welcome_box>.button, body.ie #cu-navbar-helpdropdown, body.ie #cu-login-button { display: none; }
body.ie .col-sm-8 { width: 100%; }
body.ie>footer { position:relative; margin-top: 600px; width: 100%; }
body.ie #welcome_wrapper { height: 100vh;}
body.ie #welcome_box>div.iewarning { display: block; }
body.pagelayout-frontpage.notloggedin { padding-top: 70px; }
body.notloggedin #cu-alertbox.alert { margin-bottom: 0px; margin-top: 20px; }
body.pagelayout-frontpage.notloggedin main#page-content { margin: 0px; padding: 0px; }
body.pagelayout-frontpage.notloggedin section#page>aside { padding-top: 30px; }
body.notloggedin>nav #cu-mdlsearch { display: none; }
.subcontent.potentialidps { display: none; }
#welcome_bg { 
	background: url([[pix:theme|moodleloginbg]]) no-repeat left top; 
	background-size: cover;
}
#welcome_wrapper { height: 70vh; }
#welcome_box { 
	background-color: rgba(255,255,255,0.9);
	height: auto; 
	margin: auto; 
	padding: 30px;  
	position: relative;
	text-align: center;
	top: 20px; 
	width: 60%;
}
#welcome_box h2 { font-size: 58px; font-weight: 700; line-height: 50px; margin: 18px 0 14.4px 0; text-transform: uppercase; }
#welcome_box .button { height: 60px; margin: 30px auto; width: 200px; }
#welcome_box .button>a { font-size: 30px; }
#welcome_box>div { margin-top: 16px; }
#welcome_box>div.iewarning { display: none; }
#welcome_box ul { display: inline; margin: 0px; }
#welcome_box ul>li { margin-right: 4px; }