/** The message area **/
.hidden {
	display: none;
}

.messaging-area-container {
	margin-bottom: 30px;
}

.messaging-area-container .status .online-text {
	display: none;
	color: #7d7;
}

.messaging-area-container .status .offline-text {
	color: #ff6961;
}

.messaging-area-container .status.online .online-text {
	display: block;
}

.messaging-area-container .status.online .offline-text {
	display: none;
}

.messaging-area-container a,
  .messaging-area-container .btn.btn-link {
	color: #4f94cd;
}

.messaging-area-container .messaging-area {
	border: 1px solid #e3e3e3;
	clear: both;
}

.messaging-area-container .messaging-area img {
	max-width: 100%;
}

.messaging-area-container .messaging-area .contacts-area {
	border-right: 1px solid #e3e3e3;
	height: 600px;
	width: 280px;
	display: inline-block;
	box-sizing: border-box;
}

@media (max-height: 670px) {
	.messaging-area-container .messaging-area .contacts-area {
		height: 500px;
	}
}

.messaging-area-container .messaging-area .contacts-area.searchfilter .searchtextarea {
	height: 80px;
}

.messaging-area-container .messaging-area .contacts-area.searchfilter .searcharea {
	height: 470px;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea {
	padding: 5px;
	text-align: center;
	height: 50px;
	box-sizing: border-box;
	line-height: 50px;
	background-color: #fff;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea input {
	height: 28px;
	line-height: 20px;
	margin-bottom: 10px;
	vertical-align: middle;
	padding: 4px 6px;
	background-color: #f5f5f5;
	border: 0;
	width: 90%;
	box-shadow: none;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea input:focus {
	box-shadow: none;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea.searching {
	background-color: #f5f5f5;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea.searching input {
	background-color: #fff;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea .searchfilterarea {
	line-height: 20px;
	cursor: pointer;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea .searchfilterarea .searchfilter {
	float: left;
}

.messaging-area-container .messaging-area .contacts-area .searchtextarea .searchfilterarea .searchfilterdelete {
	float: left;
	margin-left: 5px;
}

.messaging-area-container .messaging-area .contacts-area .searcharea .heading {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 14px;
	font-weight: bold;
}

.messaging-area-container .messaging-area .contacts-area .searcharea .course {
	text-align: center;
}

.messaging-area-container .messaging-area .contacts-area .searcharea .course:hover {
	background-color: #4f94cd;
	color: #fff;
	border: none;
	cursor: pointer;
}

.messaging-area-container .messaging-area .contacts-area .searcharea .noresults {
	padding-top: 20px;
	text-align: center;
}

.messaging-area-container .messaging-area .contacts-area .contacts {
	height: 500px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

@media (max-height: 670px) {
	.messaging-area-container .messaging-area .contacts-area .contacts {
		height: 400px;
	}
}

.messaging-area-container .messaging-area .contacts-area .contacts .nocontacts {
	padding-top: 20px;
	text-align: center;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact {
	height: 66px;
	cursor: pointer;
	border-bottom: 1px solid #e3e3e3;
	box-sizing: border-box;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread {
	background-color: #f1f1f1;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread .picture {
	border-color: #f1f1f1;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread .information {
	width: 60%;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact.unread .unread-count-container {
	display: inline-block;
	width: 15%;
	float: left;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover {
	background-color: #79b5e6;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .picture {
	line-height: 66px;
	text-align: center;
	height: 66px;
	border-bottom: 1px solid #fff;
	width: 25%;
	float: left;
	display: inline-block;
	box-sizing: border-box;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .picture img {
	border-radius: 50%;
	height: 54px;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information {
	padding: 6px 0;
	height: 66px;
	width: 75%;
	float: left;
	display: inline-block;
	box-sizing: border-box;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .name {
	font-weight: bold;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .name img {
	vertical-align: baseline;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .information .lastmessage {
	word-wrap: break-word;
	margin: 0;
	height: 40px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #a1a1a1;
	padding-right: 10px;
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact .unread-count-container {
	display: none;
	line-height: 66px;
	text-align: center;
	box-sizing: border-box;
}

.messaging-area-container .messaging-area .contacts-area .tabs {
	border-top: 1px solid #e3e3e3;
	height: 50px;
	box-sizing: border-box;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab {
	cursor: pointer;
	height: 100%;
	background-color: #f5f5f5;
	margin: 0;
	width: 50%;
	text-align: center;
	float: left;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab .tabimage {
	height: 30px;
	line-height: 30px;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab .tabimage img {
	height: 20px;
}

.messaging-area-container .messaging-area .messages-area {
	width: calc(100% - 280px);
	height: 600px;
	box-sizing: border-box;
	margin: 0;
	position: relative;
	float: right;
}

@media (max-height: 670px) {
	.messaging-area-container .messaging-area .messages-area {
		height: 500px;
	}
}

.messaging-area-container .messaging-area .messages-area .btn-container {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 15px;
	font-weight: normal;
}

.messaging-area-container .messaging-area .messages-area .btn-container.view-toggle {
	display: none;
}

.messaging-area-container .messaging-area .messages-area .btn-container.delete-all {
	display: none;
}

.messaging-area-container .messaging-area .messages-area .profile-header {
	height: 50px;
	line-height: 50px;
	display: none;
}

.messaging-area-container .messaging-area .messages-area .profile-header .btn-container {
	display: block;
}

.messaging-area-container .messaging-area .messages-area .profile-header .btn-container .btn-link {
	padding: 0;
	line-height: inherit;
}

.messaging-area-container .messaging-area .messages-area .profile {
	padding: 30px;
	font-size: 16px;
	height: 600px;
	box-sizing: border-box;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

@media (max-height: 670px) {
	.messaging-area-container .messaging-area .messages-area .profile {
		height: 500px;
	}
}

.messaging-area-container .messaging-area .messages-area .profile .user-container {
	height: 100px;
}

.messaging-area-container .messaging-area .messages-area .profile .user-container .profile-picture {
	border-radius: 50%;
	max-height: 100px;
	display: inline-block;
}

.messaging-area-container .messaging-area .messages-area .profile .user-container .name-container {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 10px;
}

.messaging-area-container .messaging-area .messages-area .profile .user-container .name-container .name {
	font-weight: bold;
	display: block;
}

.messaging-area-container .messaging-area .messages-area .profile .user-container .name-container .status {
	display: block;
	font-size: 14px;
}

.messaging-area-container .messaging-area .messages-area .profile .information {
	margin: 0;
	display: inline-block;
	float: right;
	margin-top: 20px;
	font-size: 14px;
	list-style: none;
}

.messaging-area-container .messaging-area .messages-area .profile .information .name {
	display: inline-block;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.messaging-area-container .messaging-area .messages-area .profile .information .value {
	display: inline-block;
}

.messaging-area-container .messaging-area .messages-area .profile .actions {
	padding-top: 80px;
}

.messaging-area-container .messaging-area .messages-area .profile .actions .separator {
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.messaging-area-container .messaging-area .messages-area .profile .actions .separator a.danger {
	color: #ff6961;
}

.messaging-area-container .messaging-area .messages-area .messages-header {
	height: 50px;
	font-weight: bold;
	line-height: 50px;
	box-sizing: border-box;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	position: relative;
}

.messaging-area-container .messaging-area .messages-area .messages-header .btn-link {
	padding: 0;
	line-height: inherit;
}

.messaging-area-container .messaging-area .messages-area .messages-header .delete-instructions {
	display: none;
}

.messaging-area-container .messaging-area .messages-area .messages-header .name-container {
	padding-top: 9px;
	display: inline-block;
}

.messaging-area-container .messaging-area .messages-area .messages-header .name-container .name {
	line-height: 20px;
}

.messaging-area-container .messaging-area .messages-area .messages-header .name-container .status {
	line-height: 12px;
	font-size: 12px;
	font-weight: normal;
}

.messaging-area-container .messaging-area .messages-area .messages-header .actions {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 15px;
	font-weight: normal;
}

.messaging-area-container .messaging-area .messages-area .messages-header .actions .cancel-messages-delete {
	display: none;
}

.messaging-area-container .messaging-area .messages-area .messages {
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	padding: 20px;
}

@media (max-height: 670px) {
	.messaging-area-container .messaging-area .messages-area .messages {
		height: 400px;
	}
}

.messaging-area-container .messaging-area .messages-area .messages .blocktime {
	clear: both;
	text-align: center;
	color: #a1a1a1;
	font-size: 12px;
	margin: 5px 0;
}

.messaging-area-container .messaging-area .messages-area .messages .message .deletemessagecheckbox {
	display: none;
	text-align: center;
	padding-top: 5px;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content {
	border: 1px solid #e3e3e3;
	padding: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	word-wrap: break-word;
	max-width: 55%;
	position: relative;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content .text {
	display: block;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content .text p {
	margin: 0;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content .timesent {
	font-size: 10px;
	color: #a1a1a1;
	float: right;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.left {
	float: left;
}

.messaging-area-container .messaging-area .messages-area .messages .message .content.right {
	float: right;
}

.messaging-area-container .messaging-area .messages-area .response {
	display: table;
	padding: 10px 10px 9px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 28px;
	text-align: center;
	border-top: 1px solid #e3e3e3;
	box-sizing: border-box;
	background-color: #fff;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .messages-area .response .delete-confirmation {
	display: none;
}

.messaging-area-container .messaging-area .messages-area .response .delete-confirmation .btn.btn-link.confirm {
	border: 1px solid #4f94cd;
	height: 30px;
}

.messaging-area-container .messaging-area .messages-area .response .delete-confirmation .btn.btn-link.confirm:hover {
	background-color: #4f94cd;
	color: #fff;
	text-shadow: none;
}

.messaging-area-container .messaging-area .messages-area .response .message-box {
	display: table-row;
}

.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container {
	display: table-cell;
}

.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container textarea {
	line-height: 20px;
	padding: 4px 6px;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	resize: none;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	background-color: #f5f5f5;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .messages-area .response .message-box .message-text-container textarea:focus {
	box-shadow: none;
}

.messaging-area-container .messaging-area .messages-area .response .message-box .send-button-container {
	display: table-cell;
	width: 1px;
}

.messaging-area-container .messaging-area .messages-area .response .message-box .send-button-container button {
	height: 30px;
}

.messaging-area-container .messaging-area .messages-area .response.messaging {
	background-color: #f5f5f5;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .messages-area .response.messaging .message-box .message-text-container textarea {
	background-color: #fff;
	transition: background-color linear 0.2s;
}

.messaging-area-container .messaging-area .messages-area.editing .messages-header .btn-container.view-all {
	display: none;
}

.messaging-area-container .messaging-area .messages-area.editing .messages-header .btn-container.delete-all {
	display: block;
}

.messaging-area-container .messaging-area .messages-area.editing .messages-header .delete-instructions {
	display: block;
}

.messaging-area-container .messaging-area .messages-area.editing .messages-header .name-container {
	display: none;
}

.messaging-area-container .messaging-area .messages-area.editing .messages-header .actions .messages-delete {
	display: none;
}

.messaging-area-container .messaging-area .messages-area.editing .messages-header .actions .cancel-messages-delete {
	display: block;
}

.messaging-area-container .messaging-area .messages-area.editing .messages .message {
	cursor: pointer;
}

.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="true"] .content {
	background-color: #4f94cd;
	border-color: #4f94cd;
	color: #fff;
}

.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="true"] .content .timesent {
	color: #fff;
}

.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="false"] .content:hover {
	background-color: #79b5e6;
	color: #fff;
}

.messaging-area-container .messaging-area .messages-area.editing .messages .message[aria-checked="false"] .content:hover .timesent {
	color: #fff;
}

.messaging-area-container .messaging-area .messages-area.editing .response .delete-confirmation {
	display: block;
}

.messaging-area-container .messaging-area .messages-area.editing .response .message-box {
	display: none;
}

.preferences-container .container-fluid {
	padding: 0;
}

.preferences-container .container-fluid .span6 {
	min-height: 20px;
}

.preferences-container .align-bottom {
	vertical-align: bottom;
}

.preferences-container .preference-table {
	border: 1px solid #ddd;
}

.preferences-container .preference-table thead th {
	text-align: center;
}

.preferences-container .preference-table thead th .config-warning {
	display: none;
}

.preferences-container .preference-table thead th.unconfigured .config-warning {
	display: inline-block;
}

.preferences-container .preference-table tr td:not(:first-child) {
	width: 150px;
	text-align: center;
}

.preferences-container .preference-table tr td:nth-child(even) {
	background-color: #f7f7f7;
}

.preferences-container .preference-table tr th:nth-child(even) {
	background-color: #f7f7f7;
}

.preferences-container .preference-table .preference-row .hover-tooltip-container {
	display: inline-block;
}

.preferences-container .preference-table .preference-row .preference-name {
	vertical-align: middle;
}

.preferences-container .preference-table .preference-row .disabled-message {
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.preferences-container .preference-table .preference-row .preference-state {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked + .preference-state-status-container {
	background-color: #5cb85c;
}

.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked + .preference-state-status-container .on-text {
	display: inline-block;
}

.preferences-container .preference-table .preference-row .preference-state input[type="checkbox"]:checked + .preference-state-status-container .off-text {
	display: none;
}

.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	background-color: #d9534f;
	color: #fff;
	cursor: pointer;
}

.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container .loading-icon {
	display: none;
}

.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container .on-text {
	display: none;
}

.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container .off-text {
	display: inline-block;
}

.preferences-container .preference-table .preference-row .preference-state.loading input[type="checkbox"]:checked + .preference-state-status-container .on-text,
    .preferences-container .preference-table .preference-row .preference-state.loading input[type="checkbox"]:checked + .preference-state-status-container .off-text {
	display: none;
}

.preferences-container .preference-table .preference-row .preference-state.loading .preference-state-status-container .on-text,
    .preferences-container .preference-table .preference-row .preference-state.loading .preference-state-status-container .off-text {
	display: none;
}

.preferences-container .preference-table .preference-row .preference-state.loading .preference-state-status-container .loading-icon {
	display: block;
}

.preferences-container .preference-table .preference-row.loading .preference-name .loading-icon {
	display: block;
}

.disabled-message {
	display: none;
}

.disabled .disabled-message {
	display: block;
}

.disabled .disabled-message + form {
	display: none;
}

.general-settings-container .loading-icon {
	display: none;
}

.general-settings-container .loading .loading-icon {
	display: inline-block;
}

.general-settings-container label {
	display: inline-block;
}

.processor-container {
	position: relative;
}

.processor-container .loading-container {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.processor-container .loading-container .vertical-align {
	height: 100%;
	width: 0%;
	display: inline-block;
	vertical-align: middle;
}

.processor-container.loading .loading-container {
	display: block;
}

.preferences-page-container .checkbox-container {
	margin: 30px 5px;
	line-height: 20px;
}

.preferences-page-container .checkbox-container input {
	line-height: 20px;
	margin: 0;
}

.preferences-page-container .checkbox-container .loading-icon {
	display: none;
}

.preferences-page-container .checkbox-container.loading .loading-icon {
	display: inline-block;
}

.notification-area {
	height: 600px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 30px;
	border: 1px solid #e3e3e3;
}

@media (max-height: 670px) {
	.notification-area {
		height: 500px;
	}
}

.notification-area .control-area {
	box-sizing: border-box;
	display: inline-block;
	width: 300px;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-right: 1px solid #e3e3e3;
}

.notification-area .control-area .content {
	position: relative;
}

.notification-area .control-area .content .content-item-container {
	cursor: pointer;
}

.notification-area .control-area .content:empty + .empty-text {
	display: block;
}

.notification-area .control-area .loading-icon {
	display: none;
}

.notification-area .control-area .empty-text {
	display: none;
	text-align: center;
	padding-top: 20px;
}

.notification-area .control-area.loading .loading-icon {
	display: block;
	text-align: center;
	box-sizing: border-box;
	padding: 5px;
}

.notification-area .control-area.loading .content:empty + .empty-text {
	display: none;
}

.notification-area .content-area {
	box-sizing: border-box;
	display: inline-block;
	width: calc(100% - 300px);
	float: right;
}

.notification-area .content-area .toggle-mode {
	display: none;
}

.notification-area .content-area .header {
	height: 50px;
	box-sizing: border-box;
	border-bottom: 1px solid #e3e3e3;
	padding: 5px;
}

.notification-area .content-area .header .image-container {
	display: inline-block;
	height: 25px;
	width: 24px;
	float: left;
}

.notification-area .content-area .header .subject-container {
	display: inline-block;
	max-width: calc(100% - 24px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 25px;
	padding-left: 5px;
	box-sizing: border-box;
}

.notification-area .content-area .header .timestamp {
	font-size: 10px;
	line-height: 10px;
	margin: 0;
	color: #666;
	margin-left: 30px;
}

.notification-area .content-area .header:empty {
	display: none;
}

.notification-area .content-area > .content {
	height: 500px;
	box-sizing: border-box;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 15px;
}

@media (max-height: 670px) {
	.notification-area .content-area > .content {
		height: 400px;
	}
}

.notification-area .content-area > .content:empty {
	display: none;
}

.notification-area .content-area > .content:empty + .empty-text {
	display: block;
	text-align: center;
	padding-top: 100px;
}

.notification-area .content-area .empty-text {
	display: none;
}

.notification-area .content-area .footer {
	height: 50px;
	box-sizing: border-box;
	text-align: center;
}

.notification-area .content-area .footer a {
	line-height: 50px;
}

.notification-area .content-area .footer:empty {
	display: none;
}

@media (max-width: 979px) {
	.messaging-area-container .messaging-area {
		position: relative;
		overflow: hidden;
		height: 600px;
	}
}

@media (max-width: 979px) and (max-height: 670px) {
	.messaging-area-container .messaging-area {
		height: 500px;
	}
}

@media (max-width: 979px) {
	.messaging-area-container .messaging-area .messages-area .messages-header .btn-container.view-toggle {
		display: block;
	}

	.messaging-area-container .messaging-area .messages-area .messages-header .btn-container.delete-all {
		display: none;
	}

	.messaging-area-container .messaging-area .messages-area .profile-header {
		display: block;
	}

	.messaging-area-container .messaging-area .messages-area .profile {
		height: 550px;
	}

	.messaging-area-container .messaging-area .messages-area.editing .messages-header .btn-container.view-toggle {
		display: none;
	}

	.messaging-area-container .messaging-area .messages-area.editing .messages-header .btn-container.delete-all {
		display: block;
	}

	.messaging-area-container .messaging-area .contacts-area {
		width: 100%;
		border-right: none;
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
		bottom: auto;
	}

	.messaging-area-container .messaging-area .messages-area {
		width: 100%;
		position: absolute;
		top: 0;
		left: auto;
		right: 0;
		bottom: auto;
	}

	.messaging-area-container .messaging-area.show-messages .contacts-area {
		left: -100%;
		opacity: 0;
		visibility: hidden;
		transition: left 0.25s, opacity 0.25s, visibility 0.25s;
	}

	.messaging-area-container .messaging-area.show-messages .messages-area {
		right: 0;
		opacity: 1;
		visibility: visible;
		transition: right 0.25s, opacity 0.25s, visibility 0.25s;
	}

	.messaging-area-container .messaging-area.hide-messages .contacts-area {
		left: 0;
		opacity: 1;
		visibility: visible;
		transition: left 0.25s, opacity 0.25s, visibility 0.25s;
	}

	.messaging-area-container .messaging-area.hide-messages .contacts-area .contact.selected {
		background-color: inherit;
		color: inherit;
		border-bottom: 1px solid #e3e3e3;
	}

	.messaging-area-container .messaging-area.hide-messages .contacts-area .contact.selected:hover {
		background-color: #79b5e6;
	}

	.messaging-area-container .messaging-area.hide-messages .contacts-area .contact.selected .picture {
		border-bottom: 1px solid #fff;
	}

	.messaging-area-container .messaging-area.hide-messages .contacts-area .contact.selected .information .lastmessage {
		color: #a1a1a1;
	}

	.messaging-area-container .messaging-area.hide-messages .messages-area {
		right: -100%;
		opacity: 0;
		visibility: hidden;
		transition: right 0.25s, opacity 0.25s, visibility 0.25s;
	}

	.notification-area {
		position: relative;
		overflow: hidden;
	}

	.notification-area .control-area {
		border-right: none;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		visibility: visible;
		transition: left 0.25s;
	}

	.notification-area .content-area {
		width: 100%;
		position: absolute;
		top: 0;
		right: -100%;
		opacity: 0;
		visibility: hidden;
		transition: right 0.25s, opacity 0.25s, visibility 0.25s;
	}

	.notification-area .content-area .toggle-mode {
		display: inline-block;
		float: left;
		width: 70px;
		height: 50px;
		line-height: 50px;
		box-sizing: border-box;
		border-right: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
	}

	.notification-area .content-area .header {
		display: inline-block;
		width: calc(100% - 70px);
	}

	.notification-area.show-content-area .control-area {
		left: -100%;
		opacity: 0;
		visibility: hidden;
		transition: left 0.25s, opacity 0.25s, visibility 0.25s;
	}

	.notification-area.show-content-area .content-area {
		right: 0;
		opacity: 1;
		visibility: visible;
		transition: right 0.25s;
	}
}

@media (max-width: 480px) {
	.messaging-area-container .messaging-area .messages-area.editing .messages-header {
		height: 80px;
	}

	.messaging-area-container .messaging-area .messages-area.editing .messages-header .delete-all {
		top: 30px;
	}

	.messaging-area-container .messaging-area .messages-area.editing .messages-header .actions {
		top: 30px;
	}

	.messaging-area-container .messaging-area .messages-area.editing .messages {
		height: 470px;
	}
}