body.pagelayout-print { padding-top: 16px; }

/* PRINT */
@media print {
	*{ -webkit-transition: none !important; transition: none !important; }

	@page { margin-top: 0.5in; margin-bottom: 0.25in; size: letter; }
	@page :first { margin-top: 0.25in; margin-bottom: 0in; }
	@page :left { margin-left: 0.5in; margin-right: 1in; }
	@page :right { margin-left: 1in; margin-right 0.5in; } 
	
	a[href]:after { content: ""; }
	p { orphans = 3; widows = 3; }
	p a[href^=http]:after { content: " (" attr(href) ")";font-size: 0.8em; font-weight: normal; text-decoration: none; }
	h1,h2,h3,h4,h5,h6,h7 { page-break-after: avoid; }

	.label, .course-content ul li.section { border: none; }
	.course-content ul.topics li.section .content { margin: 0px; }
	
	span.mediaplugin:after { content: "[Multimedia content is available online...]"; font-style: italic; padding: 16px; background-color: #ccc; }
	
	#cu-footer-copyright { border-top: 1px solid; }
	
	body.path-grade .tabtree, #dock,
	a[title="Edit summary"], a[role=button], iframe, span.actions,
	#choosepluginreport, #completionprogressid, #coursesearch, #graded_users_selector, #menuPanel, #participants .c0, #showall, 
	.action-icon, .addresourcemodchooser, .block_action, .browsecourseslink, .clearer, .buttons, .commands, .controls, 
	.course-content ul.folderview .summary a::after, .course-content ul li.section .side, 
	.editing_move, .editing_title, .forumolddiscuss a,
	.initialbar, .jumpmenu, .left.side, .right.side, .mdl-left, .mdl-right, .paging, .paging-morelink, .rolesform, 
	.searchform, .singlebutton, .singleselect, .subscribelink, .tabtree, .topiclistlink, .urlselect,
	.noprint, #page-report-curoster-index h2
	{ display: none !important; }
} 
