@CHARSET "utf-8";
/* QUIZZES */
table#categoryquestions { font-size: 12px; width: 100%; }
table#categoryquestions td { border: none; }
#page-mod-quiz-edit table#categoryquestions th, #page-mod-quiz-edit table#categoryquestions td { border: none; }
#page-mod-quiz-edit table#categoryquestions tr:hover>td { background-color: inherit; }
table#categoryquestions .checkbox, table#categoryquestions .radio { display: table-cell; min-height: 12px; }
table#categoryquestions .checkbox input[type=checkbox] { margin-top: -5px; }
#page-mod-quiz-edit .questionbankwindow.block div.header { background-color: #162b48; }
#page-mod-quiz-edit ul.slots li.section .content { min-height: 140px; }
#page-mod-quiz-edit ul.slots li.section li.activity .page_split_join_wrapper { left: 20px; }
#page-mod-quiz-edit .section .activity .editing_move { left: 0px; }
#page-mod-quiz-edit .slotnumber { margin-left: 0px; }
#page-mod-quiz-edit ul.slots li.section li.activity .activityinstance { margin-left: 80px; }
#page-mod-quiz-edit .section .activity .actions { margin-left: 50px; }
.maxgrade { top: 50px; }
.questionbankwindow.block .header h2 { background-color: transparent; color: #ffffff; }
.questionbankwindow.block .container { margin: 0px; padding: 0px; width: auto;}
.questionbankwindow.block .checkbox { display: table-cell; margin: 0px; padding: 7px; position: static; }
.questionbankwindow.block .checkbox input[type=checkbox] { display: inline-block; height: auto; margin: 0px; position: static;  }
.questionnametext label { display: block; font-weight: normal; margin-bottom: 0px; max-width: initial; }
#categoryquestions .checkbox { text-align: left; padding-left: 3px; width: 20px; }
.questionbankwindow input[type=checkbox] { margin-left: 0px; }
#categoryquestions .iconcol { width: 25px; }
#categoryquestions .checkbox input[type=checkbox] { margin: 0px; }

.moodle-dialogue .checkbox input[type=checkbox] { margin-left: 0px; }

#randomquestiondialog .mform fieldset.hidden { display: inherit !important; visibility: inherit !important; }
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tr-tr { top: 0 !important; min-width: 200px; }
