@CHARSET "utf-8";
@media screen and (min-width:960px) {
	body aside.region-pre-container.col-sm-3 { max-width: 260px; }
	body.pagelayout-mydashboard aside.region-pre-container.col-sm-3 { max-width: inherit; }
}

@media screen and (max-width:767px) {
	body { padding-top: 100px; }
	h1 { font-size: 22px; }
	
	
	/* PRELOGIN FRONTPAGE */
	#welcome_bg { background: none; }
	#welcome_box { padding: 10px 0px; width: 75%; }
	#welcome_box h2 { font-size: 48px; margin: 0; }
	#welcome_box .button { height: auto; width: 180px; }
	#welcome_box>div { margin: 0 auto; width: 200px; }
	#welcome_box ul { display: inline; margin: 0px; }
	#welcome_wrapper { border-bottom: 3px solid #ccc; height: auto; }
	
	.navbar { margin-bottom: 0px; }
		
	/* NAVBAR */
	#cu-dock { text-align: left; }
	#cu-dock .nav>li { display: inline-block; }
	#cu-dock .fa-2x { font-size: 1.75em; }
	#cu-nav-actionlinks { float: left; width: 100%; }
	#cu-nav-actionlinks>ul { float: left; }
	#cu-navbar-dashboard-link { display: none; }
	#cu-navbar.collapse { display: none; }
	#cu-navbar.collapse.in { background-color: #162b48; border-bottom: 4px solid #cc9933; display: block; }
	#cu-navbar.collapse.in li { width: 100%; }
	#cu-quicklinks { display: none; }
	
	.dropdown-menu { border-radius: 0px; }
	.navbar-default .dropdown-menu.multi-column { min-width: 240px !important; overflow-x: hidden; }
	.navbar-default .navbar-nav { margin: 0px -15px; }
	.navbar-default .navbar-nav>li>a { font-size: 1.3em; line-height: 24px; padding: 12px 15px; }
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { background-color: transparent; color: #fff; }
	.navbar-default .navbar-nav .open .dropdown-menu  {	background-color: #fff; }
	.navbar-default .navbar-nav .open .dropdown-menu>li>a { font-size: 1.25em; line-height: 24px; padding: 12px 15px; }
	.navbar-default .navbar-nav .open .multi-column-dropdown>li>a { font-size: 1.25em; line-height: 24px; padding: 12px 15px; }
	.navbar-default .navbar-form { border-color: transparent; padding: 0px 20px; -webkit-box-shadow: none; box-shadow: none; }
	.navbar-default .navbar-form.navbar-right { padding: 0px 28px; }
	.navbar-default .navbar-form .form-group { float: left; }
	.navbar-default .navbar-form .form-group>input { width: 180px; }
	
	/* HEADER */
	header { padding: 0px 10px; }
	header .navbar { margin-bottom: 4px; }
	
	/* MAIN PAGE */
	aside>.block-region input.moveto, aside>.block-region input.moveto { display: none; }
	
	/* FOOTER */
	#cu-copyright { float: none; margin-bottom: 22px; }
	#cu-footer-content h2 { margin-top: 32px; }
}

@media screen and (max-width:480px) {
	body.pagelayout-frontpage.notloggedin { padding-top: 50px; }
}	