@CHARSET "utf-8";
.yui3-skin-sam .yui3-panel .yui3-widget-bd { padding: 0px; }
.yui3-skin-sam .yui3-panel .yui3-widget-hd { background: none; background-color: #162b48; min-height: 25px; }
.yui3-skin-sam .yui3-widget-mask { opacity: .4; zoom: 1; }
.yui3-widget-content-expanded {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}