@CHARSET "utf-8";
/* COURSE OVERVIEW STYLES FROM EXPRESS THEME */
#cu_morecourses { text-align: center; }
.block_course_overview .content h2.title { float: none; font-family: Arial, sans-serif;	font-size: 16px; font-weight: bold; margin: 0px; overflow: hidden; padding: 0px; text-overflow: ellipsis; text-transform: uppercase; }
.coursebox { margin-bottom: 0px; }
.coursebox .content { display: none; }
.course_list h2.title>a { white-space: nowrap; }
.course-search-result .coursebox { margin-bottom: 15px; }
.course-search-result .coursebox .content { display: block; max-width: 800px; }