{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/course-view-course-item

    This template renders the course summary (view by courses) for the myoverview block.

    Example context (json):
    {
        "shortname": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<div class="col-lg-12">
    <div class="card m-b-1 courses-view-course-item">
        <div class="card-block course-info-container" id="course-info-container-{{id}}">
            <div class="hidden-sm-up hidden-phone">
                {{> block_myoverview/progress-chart}}
                <h4 class="h5 col-sm-9"><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a></h4>
            </div>
            <div class="hidden-xs-down visible-phone">
                <div class="media">
                    <div class="media-left">
                        <div class="media-object">
                            {{> block_myoverview/progress-chart}}
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="h5"><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a></h4>
                    </div>
                </div>
            </div>
            <p class="text-muted">
                {{#shortentext}} 280, {{summary}}{{/shortentext}}
            </p>
        </div>
    </div>
</div>
