{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/course-summary

    This template renders the course summary (view by courses) for the myoverview block.

    Example context (json):
    {
        "fullnamedisplay": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<div class="course-info-container" id="course-info-container-{{id}}">
    <div class="visible-desktop">
        {{> block_myoverview/progress-chart}}
        <h4><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{fullnamedisplay}}</a></h4>
    </div>
    <div class="hidden-desktop">
        <div class="media">
            <div class="pull-left">
                <div class="media-object">
                    {{> block_myoverview/progress-chart}}
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{fullnamedisplay}}</a></h4>
            </div>
        </div>
    </div>
    <p class="muted">
        {{#shortentext}} 280, {{{summary}}}{{/shortentext}}
    </p>
</div>
